@supports (display: block) {
	@layer alpha {
		/* a.css */
	}
}
@supports (display: block) {
	@layer alpha {
		@supports (foo: bar) {
			@layer alpha {
				/* green.css */
				.box {
	background-color: green;
}
			}
		}
	}
}
@supports (display: block) {
	@layer beta {
		/* b.css */
	}
}
@supports (display: block) {
	@layer beta {
		@supports (foo: bar) {
			@layer beta {
				/* red.css */
				.box {
	background-color: red;
}
			}
		}
	}
}
@layer beta {
	.box {
		background-color: green;
	}
}
@layer alpha {
	.box {
		background-color: red;
	}
}
