/* b.css */
@layer {
/* green.css */
.box {
	background-color: green;
}
}
/* a.css */
@layer {
/* red.css */
.box {
	background-color: red;
}
}
/* c.css */
@layer {
/* a.css */
}
@layer {
@layer {
/* red.css */
.box {
	background-color: red;
}
}
}
@layer {
/* b.css */
}
@layer {
@layer {
/* green.css */
.box {
	background-color: green;
}
}
}
