{% set baseClass = 'ppe-blog' %}
{% set titleOverride %}{{ title }} | CSS Tools{% endset %}

{% extends "layouts/base.njk" %}

{% block content %}
	<article class="ppe-post">
		<header class="ppe-blog-header">
			<h1 class="ppe-blog-title">{{ title }}</h1>
			<time class="ppe-post-date" datetime="{{ date | postDateISO }}">{{ date | postDate }}</time>
			<p class="ppe-post-byline">By <a href="https://github.com/Antonio-Laguna">Antonio Laguna</a> and <a href="https://github.com/romainmenke">Romain Menke</a>.</p>
		</header>

		{{ content | safe }}

		<footer class="ppe-blog-footer">
			<p>Published on <time class="ppe-post-date" datetime="{{ date | postDateISO }}">{{ date | postDate }}</time></p>
			<p><a href="{{ page.inputPath | ghPath }}" target="_blank" rel="noopener" aria-label="View this file in GitHub, opens in a new tab">View in GitHub</a></p>
		</footer>
	</article>
{% endblock %}
