---json
{
	"permalink": "feed/feed.xml",
	"eleventyExcludeFromCollections": true,
	"metadata": {
		"title": "PostCSS Preset Env - CSSTools",
		"url": "https://preset-env.cssdb.org/",
		"image": "https://cssdb.org/images/share-default.png",
		"subtitle": "PostCSS Preset Env lets you transform modern CSS so most browsers can understand, determining the polyfills you need based on the browsers you want.",
		"language": "en",
		"author": {
			"name": "Antonio Laguna and Romain Menke"
		}
	}
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.subtitle }}</subtitle>
	<link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self"/>
	<link href="{{ metadata.url }}"/>
	<updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ metadata.url }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
	</author>
	{%- for post in collections.post | reverse -%}
		{%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
		<entry>
			<title>{{ post.data.title }}</title>
			<link href="{{ absolutePostUrl }}"/>
			<updated>{{ post.date | dateToRfc3339 }}</updated>
			<id>{{ absolutePostUrl }}</id>
			<content xml:lang="{{ metadata.language }}" type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
		</entry>
	{%- endfor %}
</feed>
