.foo {
	/* single image */
	background-image: linear-gradient(black, white);
	background-image: url("catfront.png");

	/* multiple images */
	background-image: radial-gradient(circle, #0000 45%, #000f 48%),
		radial-gradient(ellipse farthest-corner, #fc1c14 20%, #cf15cf 80%);

	/* Global values */
	background-image: inherit;
	background-image: initial;
	background-image: revert;
	background-image: revert-layer;
	background-image: unset;
}
