.foo {
	/* Using a <background-color> */
	background: green;

	/* Using a <bg-image> and <repeat-style> */
	background: url("test.jpg") repeat-y;

	/* Using a <box> and <background-color> */
	background: border-box red;

	/* A single image, centered and scaled */
	background: no-repeat center/80% url("../img/image.png");

	/* Global values */
	background: inherit;
	background: initial;
	background: revert;
	background: revert-layer;
	background: unset;

	background: none;
	background: transparent;
	background: repeat scroll 0% 0% / auto padding-box border-box none transparent;

	background: url("starsolid.gif") #99f repeat-y fixed;
}
