.foo {
	/* Keyword value */
	backdrop-filter: none;

	/* URL to SVG filter */
	backdrop-filter: url(commonfilters.svg#filter);

	/* <filter-function> values */
	backdrop-filter: blur(2px);
	backdrop-filter: brightness(60%);
	backdrop-filter: contrast(40%);
	backdrop-filter: drop-shadow(4px 4px 10px blue);
	backdrop-filter: grayscale(30%);
	backdrop-filter: hue-rotate(120deg);
	backdrop-filter: invert(70%);
	backdrop-filter: opacity(20%);
	backdrop-filter: sepia(90%);
	backdrop-filter: saturate(80%);

	/* Multiple filters */
	backdrop-filter: url(filters.svg#filter) blur(4px) saturate(150%);

	/* Global values */
	backdrop-filter: inherit;
	backdrop-filter: initial;
	backdrop-filter: revert;
	backdrop-filter: revert-layer;
	backdrop-filter: unset;
}
