---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
---

<!doctype html>
<html lang="en" dir="ltr">
<head>
	<BaseHead
			title="PostCSS Preset Env Features - CSSTools"
			description="Play with PostCSS Preset Env in your browser"
			permalink="https://preset-env.cssdb.org/features"
	/>
	<link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/style.css')}>
</head>
<body>
<Nav permalink="/features" />
<main>

</main>
</body>
</html>
