---
import BaseHead from '../components/BaseHead.astro';
import FeaturesLink from '../components/FeaturesLink.astro';
import PlaygroundLink from '../components/PlaygroundLink.astro';
import SupportLink from '../components/SupportLink.astro';
import CopyToClipboard from '../components/CopyToClipboard.astro';

const response = await fetch('https://api.npms.io/v2/package/postcss-preset-env');
const packageInfo = await response.json();
const { collected: { metadata: { version, date } } } = packageInfo;
---

<!doctype html>
<html lang="en" dir="ltr">
<head>
	<BaseHead
			title="PostCSS Preset Env - CSSTools"
			description="Convert modern CSS into something browsers understand."
			permalink="https://preset-env.cssdb.org/"
	/>
</head>
<body>
<header class="ppe-landing-header">
	<h1 class="ppe-landing-title">postcss-preset-env</h1>
	<p class="ppe-landing-tag">Use tomorrow’s CSS today</p>
	<nav class="ppe-landing-menu">
		<FeaturesLink className="ppe-landing-menu-link" />
		<PlaygroundLink className="ppe-landing-menu-link" />
		<SupportLink className="ppe-landing-menu-link" />
		<a class="ppe-landing-menu-link" href="https://github.com/csstools/postcss-plugins/tree/main/plugin-packs/postcss-preset-env" rel="noreferrer" target="_blank" aria-label="View the source code in GitHub.">
			<svg viewBox="-10 -10 65 65" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
				<path d="M41.32 22.5c0-2.547-.565-4.953-1.556-7.358-.99-2.265-2.406-4.387-3.962-5.944-1.557-1.556-3.68-2.972-5.944-3.962A18.54 18.54 0 0 0 22.5 3.679c-2.547 0-4.953.566-7.358 1.557-2.265.99-4.387 2.406-5.944 3.962-1.557 1.557-2.972 3.68-3.962 5.944A18.54 18.54 0 0 0 3.679 22.5c0 4.104 1.274 7.783 3.68 11.18 2.405 3.395 5.66 5.66 9.48 6.792v-4.953c-1.131.141-1.697.141-1.98.141-2.123 0-3.68-.99-4.529-2.971-.283-.708-.707-1.415-1.132-1.84l-.566-.566c-.283-.283-.566-.425-.849-.707l-.425-.425c0-.283.284-.283.85-.283.566 0 1.132.141 1.556.424.425.284.85.566 1.132.991.283.424.566.85.99 1.274.284.424.708.707 1.133.99.424.283.99.425 1.698.425.849 0 1.557-.142 2.406-.425.283-1.132.99-1.98 1.84-2.688-3.255-.284-5.661-1.133-7.218-2.406-1.556-1.274-2.405-3.538-2.405-6.651 0-2.264.707-4.245 2.122-5.802a8.01 8.01 0 0 1-.424-2.547c0-1.132.283-2.264.849-3.255 1.132 0 2.122.142 2.971.566.85.425 1.84.99 2.972 1.84 1.557-.283 3.113-.566 4.953-.566 1.557 0 3.113.141 4.528.424 1.132-.849 2.123-1.415 2.972-1.698.85-.424 1.84-.566 2.972-.566.566.99.849 2.123.849 3.255 0 .849-.142 1.698-.425 2.405 1.415 1.557 2.123 3.538 2.123 5.802 0 3.114-.85 5.236-2.406 6.651s-3.962 2.123-7.217 2.406c1.415.99 1.981 2.264 1.981 3.82v6.652c3.963-1.274 7.076-3.538 9.482-6.793 2.405-3.113 3.679-6.792 3.679-10.896Zm3.68 0c0 4.104-.99 7.924-2.972 11.32-1.98 3.538-4.811 6.227-8.207 8.208C30.283 44.01 26.604 45 22.5 45s-7.925-.99-11.32-2.972c-3.538-1.98-6.227-4.811-8.208-8.207C.99 30.283 0 26.604 0 22.5s.99-7.925 2.972-11.32c1.98-3.538 4.811-6.227 8.207-8.208C14.717.99 18.396 0 22.5 0s7.924.99 11.32 2.972c3.538 1.98 6.227 4.811 8.208 8.207C44.01 14.575 45 18.396 45 22.5Z"/>
			</svg>
			<span aria-hidden="true">GitHub</span>
		</a>
	</nav>
</header>
<main>
	<p class="ppe-landing-content">PostCSS Preset Env lets you convert modern CSS into something most browsers can understand, determining the polyfills you need based on your targeted browsers or runtime environments, using <a href="https://cssdb.org/">cssdb</a>.</p>
	<CopyToClipboard />
	<p class="ppe-latest-version">
		Latest version: <strong>{version}</strong> <br/>
		See <a href="https://github.com/csstools/postcss-plugins/blob/main/plugin-packs/postcss-preset-env/CHANGELOG.md">CHANGELOG</a>
	</p>

	<p class="ppe-deploys">
		<a href="https://www.netlify.com" target="_blank" rel="noreferrer" class="ppe-deploys__logo">
			<img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" alt="Deploys by Netlify" loading="lazy" decoding="async" width="114" height="51" />
		</a>
	</p>
</main>
</body>
</html>
