---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
---

<!doctype html>
<html lang="en" dir="ltr">
<head>
	<BaseHead
			title="Interactive Playground - PostCSS Preset Env - CSSTools"
			description="Play with PostCSS Preset Env in your browser"
			permalink="https://preset-env.cssdb.org/playground"
	/>
</head>
<body>
<Nav permalink="/playground" />

<main class="ppe-playground">
	<h1 class="u-visually-hidden">Interactive playgroud for PostCSS Preset Env</h1>

	<iframe
			class="ppe-codepen"
			src="https://codepen.io/jonneal/embed/WZdygy?height=265&amp;theme-id=30254&amp;slug-hash=WZdygy&amp;default-tab=css,result&amp;embed-version=2&amp;editable=true"
			scrolling="no"
			frameborder="0"
			allowtransparency="true"
			allowfullscreen
			title="PostCSS Preset Env demo">
	</iframe>
</main>
</body>
</html>
