---
title: Interactive Playground - PostCSS Preset Env - CSSTools
description: Play with PostCSS Preset Env in your browser
---
{% extends "layouts/base.njk" %}

{% block content %}
<main class="ppe-playground">
	<h1 class="u-visually-hidden">Interactive playground for PostCSS Preset Env</h1>

	<div style="display: flex; gap: 20px; margin: 20px;">
		<div id="editor1" style="flex-basis: 45%; height: calc(90vh - 100px); overflow: scroll;"></div>
		<div id="editor2" style="flex-basis: 45%; height: calc(90vh - 100px); overflow: scroll;"></div>
	</div>
</main>
{% endblock %}

{% block scripts %}<script async defer src="{{ "/static/js/playground.js" | addHash }}"></script>{% endblock %}
