@media (min-width: 1px) {
	@layer a {
/* a.css */
	}
}
@media (min-width: 1px) {
	@layer a {
		@media (width: 1px) {
			@layer b {
/* b.css */
				.box {
	background-color: red;
}
			}
		}
	}
}
@layer a.c {
	.box {
		background-color: red;
	}
}
@layer a.b {
	.box {
		background-color: green;
	}
}
