---
export interface Props {
	title: string;
	description: string;
	permalink: string;
}
const { title, description, permalink } = Astro.props;
---
<meta charset="utf-8">
<title>{ title }</title>
<meta name="description" content={ description }>
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={ permalink } />
<meta property="twitter:title" content={ title } />
<meta property="twitter:description" content={ description } />

<meta property="og:title" content="PostCSS Preset Env">
<meta property="og:description" content={ description }>
<meta property="og:image" content="https://cssdb.org/images/cssdb.jpg">
<meta property="og:site_name" content="PostCSS Preset Env">
<meta property="og:type" content="website">
<meta property="og:url" content={ permalink }>
<link href="/favicon.ico" rel="shortcut icon">
<style global>@import "../styles/style.css";</style>
