---
export interface Props {
	className: string;
	current?: string;
}
const { className, current } = Astro.props;
const href = '/features';
const isCurrent = current === href;
const props = {};

if (isCurrent) {
	props['aria-current'] = 'page';
}
---

<a class={ className } href={ href } {...props}>
	<svg viewBox="0 0 60 38" xmlns="http://www.w3.org/2000/svg"><path d="M56.932 16.077 42.699 1.719C41.59.602 40.142 0 38.523 0c-1.62 0-3.069.602-4.176 1.72a1.254 1.254 0 0 0 0 1.805 1.228 1.228 0 0 0 1.79 0c.681-.688 1.448-1.032 2.386-1.032.937 0 1.79.344 2.386 1.032L50.966 13.67H9.119l9.972-10.145c.682-.688 1.449-1.032 2.386-1.032.938 0 1.79.344 2.387 1.032a1.228 1.228 0 0 0 1.79 0 1.254 1.254 0 0 0 0-1.806C24.545.602 23.096 0 21.476 0c-1.619 0-3.068.602-4.176 1.72L2.813 16.334l-.171.172-.17.172-.17.172C.851 18.484 0 20.634 0 23.04v5.588C0 33.787 4.176 38 9.29 38h4.176c8.182 0 14.83-6.706 14.83-14.96 0-.773-.086-1.46-.256-2.235.511-.43 1.193-.687 1.96-.687.682 0 1.364.258 1.96.687a9.452 9.452 0 0 0-.256 2.236c0 8.253 6.648 14.959 14.83 14.959h4.176c5.114 0 9.29-4.213 9.29-9.371v-5.588a9.452 9.452 0 0 0-3.068-6.964ZM13.552 35.42H9.715c-.511 0-.852-.688-.426-1.118l11.25-11.348a1.287 1.287 0 0 0-.085-1.892c-.512-.43-1.279-.343-1.705.172L6.562 33.53c-.51.516-1.363.516-1.875.086a1.358 1.358 0 0 1 0-1.891l7.756-7.823c.426-.43.511-1.204.17-1.72a1.26 1.26 0 0 0-1.874-.086l-7.074 6.964c-.426.43-1.108.086-1.108-.43v-5.588c0-1.806.767-3.525 1.875-4.729l.17-.172C5.795 16.937 7.5 16.25 9.29 16.25h9.801c3.75 0 6.733 3.009 6.818 6.792 0 6.792-5.54 12.38-12.358 12.38ZM30 17.624c-1.023 0-2.046.258-2.898.86-.426-.86-1.023-1.547-1.704-2.235h9.204a7.39 7.39 0 0 0-1.704 2.235c-.853-.602-1.875-.86-2.898-.86ZM57.443 28.63c0 3.783-3.068 6.878-6.818 6.878h-4.176c-.852 0-1.62-.086-2.386-.258-.597-.086-.768-.774-.341-1.204l10.994-11.09a1.287 1.287 0 0 0-.085-1.892c-.512-.43-1.279-.343-1.705.172L41.165 33.014c-.426.43-1.193.515-1.705.171-.682-.515-.767-1.461-.17-2.063l7.33-7.393c.425-.43.596-1.204.17-1.72a1.26 1.26 0 0 0-1.875-.086l-7.16 7.222c-.596.602-1.704.43-2.13-.344a11.182 11.182 0 0 1-1.364-5.846c0-3.783 3.069-6.792 6.819-6.792h9.545c1.705 0 3.239.602 4.432 1.72l.596.601c1.108 1.204 1.705 2.837 1.705 4.557v5.588h.085Z"/><linearGradient id="a" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(62 78 -78 62 39 -26)"><stop stop-color="#F527E0"/><stop offset="1" stop-color="#FF8E26"/></linearGradient></svg>

	<span>Features</span>
</a>
