---
import { packageNamesToIds } from '../../../../plugin-packs/postcss-preset-env/src/plugins/plugins-map.mjs';
---
<aside class="ppe-navigation">
	<select class="ppe-navigation-select">
		<option value="0" selected>Stage 0+</option>
		<option value="1">Stage 1+</option>
		<option value="2">Stage 2+</option>
		<option value="3">Stage 3+</option>
	</select>

	<nav class="ppe-sidebar-menu" aria-label="Additional Navigation">
		<ul class="ppe-sidebar-menu-list">
			<li class="ppe-menu-item">
				<a
						class="ppe-menu-link"
						href="https://github.com/csstools/postcss-plugins/tree/main/plugin-packs/postcss-preset-env#usage"
						rel="noreferrer"
						target="_blank"
				>
					Installation and Usage
				</a>
			</li>
			<li class="ppe-menu-item">
				<a
						class="ppe-menu-link"
						href="https://github.com/csstools/postcss-plugins/tree/main/plugin-packs/postcss-preset-env#options"
						rel="noreferrer"
						target="_blank"
				>
					Options
				</a>
			</li>
			<li class="ppe-menu-item">
				<a
						class="ppe-menu-link"
						href="https://cssdb.org/#the-staging-process"
						rel="noreferrer"
						target="_blank"
				>
					Stages
				</a>
		</li>
		</ul>
	</nav>
</aside>
