---
export interface Props {
	permalink: string;
}
import FeaturesLink from './FeaturesLink.astro';
import PlaygroundLink from './PlaygroundLink.astro';
import SupportLink from './SupportLink.astro';

const { className, permalink } = Astro.props;
---

<header class="ppe-heading">
	<h1 class="ppe-heading-title">
		<a class="ppe-heading-title-link" href="/" rel="home">postcss-preset-env</a>
	</h1>
	<nav class="ppe-heading-menu">
		<ul class="ppe-heading-menu-list">
			<li class="ppe-heading-menu-item">
				<FeaturesLink className="ppe-heading-menu-link" current={ permalink } />
			</li>
			<li class="ppe-heading-menu-item">
				<PlaygroundLink className="ppe-heading-menu-link" current={ permalink } />
			</li>
			<li class="ppe-heading-menu-item">
				<SupportLink className="ppe-heading-menu-link" />
		</li>
		</ul>
	</nav>
</header>
