---
export interface Props {
	className: string;
	current?: string;
}
const { className, current } = Astro.props;
const href = '/playground';
const isCurrent = current === href;
const props = {};

if (isCurrent) {
	props['aria-current'] = 'page';
}
---

<a class={ className } href={ href } {...props}>
	<svg viewBox="-5 -10 82 82" xmlns="http://www.w3.org/2000/svg"><path d="M62 4.878C62 2.277 59.891.17 57.224.046a36.03 36.03 0 0 0-3.66 0c-2.542.124-4.589 1.983-4.713 4.399-.062 1.115-.062 2.292-.062 3.407v2.106h-7.257V4.816c-.061-2.54-2.17-4.584-4.713-4.708-.62 0-1.179-.062-1.86-.062-.56 0-1.18 0-1.8.062-2.604.124-4.713 2.107-4.837 4.646-.062 1.177-.124 2.726 0 4.275.062 1.362-.248 2.601-1.055 3.964a2592.975 2592.975 0 0 1-10.296 17.655L.598 58.709c-.62 1.053-.745 1.92-.435 2.478.31.557 1.179.867 2.357.805 6.327-.186 12.653-.124 17.925 0 1.612 0 2.543-.495 3.349-1.92 3.225-5.7 6.574-11.398 9.8-16.973l3.163-5.39c.124-.247.31-.433.496-.743l1.302-1.92v24.902c0 1.61.807 1.858 1.427 1.858.434 0 .806-.062 1.054-.31.31-.31.496-.805.496-1.61v-4.088h17.429v4.398c.124 1.61.992 1.734 1.613 1.672 1.178-.062 1.364-1.177 1.364-1.796v-3.655C62 39.258 62 22.1 62 4.878Zm-11.102 8.61c.248-.371.806-.495 1.054-.495h6.823v7.62H46.68l1.179-2.045a542.932 542.932 0 0 0 3.039-5.08Zm-19.6-8.3c0-.124 0-.248.063-.372.434-1.858 2.109-2.044 4.962-1.796 1.488.124 2.294.929 2.294 2.416v3.407c0 .124 0 .31-.062.433l-.186.682H31.3v-4.77ZM39.92 26.25c-6.078 10.406-12.095 20.875-18.173 31.282-.62 1.053-1.302 1.487-2.48 1.487h-.063a284.973 284.973 0 0 0-10.295 0h-4.9L15.855 38.7c4.652-8.177 9.366-16.23 14.08-24.407.558-.991 1.24-1.363 2.356-1.363 3.535.062 7.009.062 10.606 0h4.59l-.62 1.24c-.125.309-.31.619-.435.866L39.92 26.25Zm18.917 26.512h-17.18V45.33h17.18v7.433Zm-17.18-10.716v-7.558h17.118v7.496H41.657v.062Zm17.18-10.655h-17.49l.62-2.602.124-.186c.248-.433.496-.929.744-1.424.558-1.24 1.178-2.478 2.295-3.098 1.054-.62 2.48-.495 3.845-.433.558.062 1.117.062 1.55.062H58.9v7.681h-.062Zm.062-21.929v.496h-7.133V8.099c0-1.053-.062-2.106.062-3.097.124-1.92 1.675-1.982 4.404-1.982.744 0 2.667 0 2.729 2.044.062.991 0 1.982 0 3.035-.062.434-.062.868-.062 1.363Z"/></svg>

	<span>Try It Now</span>
</a>
