---
export interface Props {
	className: string;
}
const { className } = Astro.props;
---

<a class={ className } href="https://discord.gg/bUadyRwkJS" target="_blank" rel="noreferrer">
	<svg aria-labelledby="support-icon-title" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73 58">
		<title id="support-icon-title">Contact maintainers for support with Discord. Opens in a new tab.</title>
		<path d="M61.796 5.494a59.415 59.415 0 0 0-15.05-4.73 44.128 44.128 0 0 0-1.928 4.003c-5.612-.844-11.172-.844-16.68 0a42.783 42.783 0 0 0-1.95-4.002 59.218 59.218 0 0 0-15.062 4.74C1.6 19.9-.981 33.936.31 47.772c6.317 4.717 12.44 7.583 18.458 9.458a45.906 45.906 0 0 0 3.954-6.51 38.872 38.872 0 0 1-6.226-3.03 30.957 30.957 0 0 0 1.526-1.208c12.004 5.615 25.046 5.615 36.906 0 .499.416 1.01.82 1.526 1.208a38.775 38.775 0 0 1-6.237 3.035 45.704 45.704 0 0 0 3.953 6.511c6.025-1.875 12.153-4.74 18.47-9.464 1.515-16.04-2.587-29.947-10.844-42.277Zm-37.44 33.767c-3.602 0-6.557-3.363-6.557-7.46 0-4.096 2.891-7.466 6.558-7.466 3.666 0 6.621 3.364 6.558 7.466.006 4.097-2.892 7.46-6.558 7.46Zm24.237 0c-3.603 0-6.558-3.363-6.558-7.46 0-4.096 2.892-7.466 6.558-7.466 3.667 0 6.622 3.364 6.559 7.466 0 4.097-2.892 7.46-6.559 7.46Z" />
	</svg>

	<span>Support</span>
</a>
