:root {
	--order: 1;
}

.test-custom-properties {
	order: var(--order);
}

.test-image-set-function {
	background-image: url(img/test.png);
	background-image: image-set(url(img/test.png) 1x, url(img/test-2x.png) 2x);
	order: 2;
}

@media (min-resolution: 192dpi) {

.test-image-set-function {
	background-image: url(img/test-2x.png);
}
}

.test-logical-properties-and-values:dir(ltr) {
	margin: 1px 4px 3px 2px;
}

.test-logical-properties-and-values:dir(rtl) {
	margin: 1px 2px 3px 4px;
}

.test-logical-properties-and-values {
	order: 3;
	padding-top: 5px;
	padding-bottom: 5px;
}

.test-nesting-rules {
	order: 4;
}

.test-nesting-rules p {
		order: 5;
	}

.test-nesting-rules {

	order: 6;
}

.test-nesting-rules,
#test-is-pseudo {
	order: 7;
}

.test-nesting-rules + p, #test-is-pseudo + p {
		order: 8;
	}

.test-nesting-rules,
#test-is-pseudo {

	order: 9;
}

@media (max-width: 30em) {
	.test-custom-media-queries {
		order: 10;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.test-media-query-ranges {
		order: 11;
	}
}

@media (color-index: 48) {
	body {
		background-color: black;
		color: white;
	}
}

@media (color: 48842621) {
	body {
		background-color: black;
		color: white;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}
}

h1.test-custom-selectors,h2.test-custom-selectors,h3.test-custom-selectors,h4.test-custom-selectors,h5.test-custom-selectors,h6.test-custom-selectors {
	order:12;
}

.test-case-insensitive-attributes[frame=hsides i] {
	order: 13;
}

.test-rebeccapurple-color {
	color: rebeccapurple;
	order: 14;
}

.test-hexadecimal-alpha-notation {
	background-color: #f3f3f3f3;
	color: #0003;
	order: 15;
}

.test-color-functional-notation {
	color: rgba(178, 34, 34, 0.5);
	order: 16;
}

.test-lab-function {
	background-color: rgb(179, 35, 35);
	color: rgba(179, 34, 35, 0.5);
	order: 17;
}

.test-system-ui-font-family {
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	order: 18;
}

.test-font-variant-property {
	font-variant-caps: small-caps;
	order: 19;
}

.test-all-property {
	all: initial;
	order: 20;
}

.test-matches-pseudo-class:matches(:first-child, .special) {
	order: 21;
}

.test-not-pseudo-class:not(:first-child):not(.special) {
	order: 22;
}

.test-any-link-pseudo-class:-moz-any-link {
	order: 23;
}

.test-any-link-pseudo-class:any-link {
	order: 23;
}

.test-dir-pseudo-class:dir(rtl) {
	order: 24;
}

.test-overflow-wrap-property {
	order: 25;
	overflow-wrap: break-word;
}

.test-focus-visible-pseudo-class.focus-visible {
	order: 26;
}

.test-focus-visible-pseudo-class:focus-visible {
	order: 26;
}

.test-double-position-gradients {
	background-image: conic-gradient(yellowgreen 40%, gold 0deg,gold 75%, #f06 0deg);
	background-image: conic-gradient(yellowgreen 40%, gold 0deg 75%, #f06 0deg);
}

.test-blank-pseudo-class[blank] {
	background-color: yellow;
}

.test-blank-pseudo-class:blank {
	background-color: yellow;
}

.test-has-pseudo-class[\:has\(.inner-class\)] {
	background-color: yellow;
}

.test-has-pseudo-class:has(.inner-class) {
	background-color: yellow;
}

.a:focus {
	order: 27;
}

.a:hover {
	order: 27;
}

.b:focus {
	order: 27;
}

.b:hover {
	order: 27;
}

.a.c > .b + .d {
	order: 28;
}

.test-hwb-function {
	background-color: rgba(0, 195, 255, .5);
}

.test-opacity-percent {
	opacity: 0.42;
}

.clamp-same-unit {
	width: max(10px, min(64px, 80px));
}

.complex-clamp {
	width: max(calc(100% - 10px), min(min(10px, 100%), max(40px, 4em)));
}

.clamp-different-units {
	width: max(10%, min(2px, 4rem));
}

@font-face {
	font-family: 'A';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(a) format("woff2");
}

.block-flow {
	display: block;
	display: block flow;
}

.block-flow-root {
	display: flow-root;
	display: block flow-root;
}

.inline-flow {
	display: inline;
	display: inline flow;
}

.inline-flow-root {
	display: inline-block;
	display: inline flow-root;
}

.run-in-flow {
	display: run-in;
	display: run-in flow;
}

.list-item-block-flow {
	display: list-item;
	display: list-item block flow;
}

.inline-flow-list-item {
	display: inline list-item;
	display: inline flow list-item;
}

.block-flex {
	display: flex;
	display: block flex;
}

.inline-flex {
	display: inline-flex;
	display: inline flex;
}

.block-grid {
	display: grid;
	display: block grid;
}

.inline-grid {
	display: inline-grid;
	display: inline grid;
}

.inline-ruby {
	display: ruby;
	display: inline ruby;
}

.block-table {
	display: table;
	display: block table;
}

.inline-table {
	display: inline-table;
	display: inline table;
}

.table-cell-flow {
	display: table-cell;
	display: table-cell flow;
}

.table-caption-flow {
	display: table-caption;
	display: table-caption flow;
}

.ruby-base-flow {
	display: ruby-base;
	display: ruby-base flow;
}

.ruby-text-flow {
	display: ruby-text;
	display: ruby-text flow;
}

.ic-unit {
	text-indent: 2em;
	text-indent: 2ic;
	width: calc(8em + 20px);
	width: calc(8ic + 20px);
	height: 10px;
	margin: 0.5em 1em .2em;
	margin: 0.5ic 1ic .2ic;
	padding: 2em;
	padding: 2    ic;
}
