:root {
	--order: 1;
}

.test-custom-properties {
	order: 1;
	order: var(--order);
}

.test-image-set-function {
	background-image: url(img/test.png);
	background-image: -webkit-image-set(url(img/test.png) 1x, url(img/test-2x.png) 2x);
	background-image: image-set(url(img/test.png) 1x, url(img/test-2x.png) 2x);
	order: 2;
}

@media (min-resolution: 192dpi) {

.test-image-set-function {
	background-image: url(img/test-2x.png);
}
}

[dir="ltr"] .test-logical-properties-and-values {
	margin: 1px 4px 3px 2px;
}

[dir="rtl"] .test-logical-properties-and-values {
	margin: 1px 2px 3px 4px;
}

.test-logical-properties-and-values {
	order: 3;
	padding-top: 5px;
	padding-bottom: 5px;
}

.test-nesting-rules {
	order: 4;

	& p {
		order: 5;
	}

	order: 6;
}

.test-nesting-rules,
#test-is-pseudo {
	order: 7;

	& + p {
		order: 8;
	}

	order: 9;
}

@media (max-width: 30em) {
	.test-custom-media-queries {
		order: 10;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.test-media-query-ranges {
		order: 11;
	}
}

@media (color-index: 48) {
	body {
		background-color: black;
		color: white;
	}
}

@media (color: 48842621) {
	body {
		background-color: black;
		color: white;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

.test-custom-selectors:--heading {
	order:12;
}

.test-case-insensitive-attributes[frame=hsides],.test-case-insensitive-attributes[frame=Hsides],.test-case-insensitive-attributes[frame=hSides],.test-case-insensitive-attributes[frame=HSides],.test-case-insensitive-attributes[frame=hsIdes],.test-case-insensitive-attributes[frame=HsIdes],.test-case-insensitive-attributes[frame=hSIdes],.test-case-insensitive-attributes[frame=HSIdes],.test-case-insensitive-attributes[frame=hsiDes],.test-case-insensitive-attributes[frame=HsiDes],.test-case-insensitive-attributes[frame=hSiDes],.test-case-insensitive-attributes[frame=HSiDes],.test-case-insensitive-attributes[frame=hsIDes],.test-case-insensitive-attributes[frame=HsIDes],.test-case-insensitive-attributes[frame=hSIDes],.test-case-insensitive-attributes[frame=HSIDes],.test-case-insensitive-attributes[frame=hsidEs],.test-case-insensitive-attributes[frame=HsidEs],.test-case-insensitive-attributes[frame=hSidEs],.test-case-insensitive-attributes[frame=HSidEs],.test-case-insensitive-attributes[frame=hsIdEs],.test-case-insensitive-attributes[frame=HsIdEs],.test-case-insensitive-attributes[frame=hSIdEs],.test-case-insensitive-attributes[frame=HSIdEs],.test-case-insensitive-attributes[frame=hsiDEs],.test-case-insensitive-attributes[frame=HsiDEs],.test-case-insensitive-attributes[frame=hSiDEs],.test-case-insensitive-attributes[frame=HSiDEs],.test-case-insensitive-attributes[frame=hsIDEs],.test-case-insensitive-attributes[frame=HsIDEs],.test-case-insensitive-attributes[frame=hSIDEs],.test-case-insensitive-attributes[frame=HSIDEs],.test-case-insensitive-attributes[frame=hsideS],.test-case-insensitive-attributes[frame=HsideS],.test-case-insensitive-attributes[frame=hSideS],.test-case-insensitive-attributes[frame=HSideS],.test-case-insensitive-attributes[frame=hsIdeS],.test-case-insensitive-attributes[frame=HsIdeS],.test-case-insensitive-attributes[frame=hSIdeS],.test-case-insensitive-attributes[frame=HSIdeS],.test-case-insensitive-attributes[frame=hsiDeS],.test-case-insensitive-attributes[frame=HsiDeS],.test-case-insensitive-attributes[frame=hSiDeS],.test-case-insensitive-attributes[frame=HSiDeS],.test-case-insensitive-attributes[frame=hsIDeS],.test-case-insensitive-attributes[frame=HsIDeS],.test-case-insensitive-attributes[frame=hSIDeS],.test-case-insensitive-attributes[frame=HSIDeS],.test-case-insensitive-attributes[frame=hsidES],.test-case-insensitive-attributes[frame=HsidES],.test-case-insensitive-attributes[frame=hSidES],.test-case-insensitive-attributes[frame=HSidES],.test-case-insensitive-attributes[frame=hsIdES],.test-case-insensitive-attributes[frame=HsIdES],.test-case-insensitive-attributes[frame=hSIdES],.test-case-insensitive-attributes[frame=HSIdES],.test-case-insensitive-attributes[frame=hsiDES],.test-case-insensitive-attributes[frame=HsiDES],.test-case-insensitive-attributes[frame=hSiDES],.test-case-insensitive-attributes[frame=HSiDES],.test-case-insensitive-attributes[frame=hsIDES],.test-case-insensitive-attributes[frame=HsIDES],.test-case-insensitive-attributes[frame=hSIDES],.test-case-insensitive-attributes[frame=HSIDES] {
	order: 13;
}

.test-rebeccapurple-color {
	color: rebeccapurple;
	order: 14;
}

.test-hexadecimal-alpha-notation {
	background-color: rgba(243,243,243,0.95294);
	color: rgba(0,0,0,0.2);
	order: 15;
}

.test-color-functional-notation {
	color: rgba(178, 34, 34, 0.5);
	order: 16;
}

.test-lab-function {
	background-color: rgb(179, 35, 35);
	background-color: color(display-p3 0.64331 0.19245 0.16771);
	color: rgba(179, 34, 35, 0.5);
	color: color(display-p3 0.64368 0.19188 0.16791 / 50%);
	order: 17;
}

.test-system-ui-font-family {
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	order: 18;
}

.test-font-variant-property {
	-webkit-font-feature-settings: "smcp";
	        font-feature-settings: "smcp";
	font-variant-caps: small-caps;
	order: 19;
}

.test-all-property {
	all: initial;
	order: 20;
}

.test-matches-pseudo-class:matches(:first-child, .special) {
	order: 21;
}

.test-not-pseudo-class:not(:first-child):not(.special) {
	order: 22;
}

.test-any-link-pseudo-class:-webkit-any-link {
	order: 23;
}

.test-any-link-pseudo-class:any-link {
	order: 23;
}

[dir="rtl"] .test-dir-pseudo-class {
	order: 24;
}

.test-overflow-wrap-property {
	order: 25;
	overflow-wrap: break-word;
}

.test-focus-visible-pseudo-class.focus-visible {
	order: 26;
}

.test-focus-visible-pseudo-class:focus-visible {
	order: 26;
}

.test-double-position-gradients {
	background-image: conic-gradient(yellowgreen 40%, gold 0deg,gold 75%, #f06 0deg);
	background-image: conic-gradient(yellowgreen 40%, gold 0deg 75%, #f06 0deg);
}

.test-blank-pseudo-class[blank] {
	background-color: yellow;
}

.test-blank-pseudo-class:blank {
	background-color: yellow;
}

.test-has-pseudo-class[\:has\(.inner-class\)] {
	background-color: yellow;
}

.test-has-pseudo-class:has(.inner-class) {
	background-color: yellow;
}

.a:focus {
	order: 27;
}

.a:hover {
	order: 27;
}

.b:focus {
	order: 27;
}

.b:hover {
	order: 27;
}

.a.c > .b + .d {
	order: 28;
}

.test-hwb-function {
	background-color: rgba(0, 195, 255, .5);
}

.test-opacity-percent {
	opacity: 0.42;
}

.clamp-same-unit {
	width: max(10px, min(64px, 80px));
}

.complex-clamp {
	width: max(calc(100% - 10px), min(min(10px, 100%), max(40px, 4em)));
}

.clamp-different-units {
	width: max(10%, min(2px, 4rem));
}

@font-face {
	font-family: 'A';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(a) format(woff2);
}

.block-flow {
	display: block;
	display: block flow;
}

.block-flow-root {
	display: flow-root;
	display: block flow-root;
}

.inline-flow {
	display: inline;
	display: inline flow;
}

.inline-flow-root {
	display: inline-block;
	display: inline flow-root;
}

.run-in-flow {
	display: run-in;
	display: run-in flow;
}

.list-item-block-flow {
	display: list-item;
	display: list-item block flow;
}

.inline-flow-list-item {
	display: inline list-item;
	display: inline flow list-item;
}

.block-flex {
	display: flex;
	display: block flex;
}

.inline-flex {
	display: inline-flex;
	display: inline flex;
}

.block-grid {
	display: grid;
	display: block grid;
}

.inline-grid {
	display: inline-grid;
	display: inline grid;
}

.inline-ruby {
	display: ruby;
	display: inline ruby;
}

.block-table {
	display: table;
	display: block table;
}

.inline-table {
	display: inline-table;
	display: inline table;
}

.table-cell-flow {
	display: table-cell;
	display: table-cell flow;
}

.table-caption-flow {
	display: table-caption;
	display: table-caption flow;
}

.ruby-base-flow {
	display: ruby-base;
	display: ruby-base flow;
}

.ruby-text-flow {
	display: ruby-text;
	display: ruby-text flow;
}
