:root {
	--order: 1;
}

.test-custom-property-fallbacks {
	--firebrick: rgb(179, 35, 35);
}

@supports (color: color(display-p3 0 0 0)) {
.test-custom-property-fallbacks {
	--firebrick: color(display-p3 0.64331 0.19245 0.16771);
}
}

.test-custom-properties {
	order: var(--order);
}

.test-image-set-function {
	background-image: url(img/test.png);
	background-image: image-set(url(img/test.png) 1x, url(img/test-2x.png) 2x);
	order: 2;
}

@media (min-resolution: 192dpi) {

.test-image-set-function {
	background-image: url(img/test-2x.png);
}
}

.test-logical-properties-and-values:dir(ltr) {
	margin: 1px 4px 3px 2px;
}

.test-logical-properties-and-values:dir(rtl) {
	margin: 1px 2px 3px 4px;
}

.test-logical-properties-and-values {
	order: 3;
	padding-top: 5px;
	padding-bottom: 5px;
}

.test-nesting-rules {
	order: 4;
}

.test-nesting-rules p {
		order: 5;
	}

.test-nesting-rules {

	order: 6;
}

.test-nesting-rules,
#test-is-pseudo {
	order: 7;
}

.test-nesting-rules + p, #test-is-pseudo + p {
		order: 8;
	}

.test-nesting-rules,
#test-is-pseudo {

	order: 9;
}

@media (max-width: 30em) {
	.test-custom-media-queries {
		order: 10;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.test-media-query-ranges {
		order: 11;
	}
}

@media (color-index: 48) {
	body {
		background-color: black;
		color: white;
	}
}

@media (color: 48842621) {
	body {
		background-color: black;
		color: white;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}
}

h1.test-custom-selectors,h2.test-custom-selectors,h3.test-custom-selectors,h4.test-custom-selectors,h5.test-custom-selectors,h6.test-custom-selectors {
	order:12;
}

.test-case-insensitive-attributes[frame=hsides i] {
	order: 13;
}

.test-rebeccapurple-color {
	color: rebeccapurple;
	order: 14;
}

.test-hexadecimal-alpha-notation {
	background-color: #f3f3f3f3;
	color: #0003;
	order: 15;
}

.test-color-functional-notation {
	color: rgba(178, 34, 34, 0.5);
	order: 16;
}

.test-lab-function {
	background-color: rgb(179, 35, 35);
	background-color: color(display-p3 0.64331 0.19245 0.16771);
	color: rgba(179, 34, 35, 0.5);
	color: color(display-p3 0.64368 0.19188 0.16791 / 50%);
	order: 17;
}

.test-system-ui-font-family {
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	order: 18;
}

.test-font-variant-property {
	font-variant-caps: small-caps;
	order: 19;
}

.test-all-property {
	all: initial;
	order: 20;
}

.test-matches-pseudo-class:matches(:first-child, .special) {
	order: 21;
}

.test-not-pseudo-class:not(:first-child):not(.special) {
	order: 22;
}

.test-any-link-pseudo-class:-moz-any-link {
	order: 23;
}

.test-any-link-pseudo-class:any-link {
	order: 23;
}

.test-dir-pseudo-class:dir(rtl) {
	order: 24;
}

.test-overflow-wrap-property {
	order: 25;
	overflow-wrap: break-word;
}

.test-focus-visible-pseudo-class.focus-visible {
	order: 26;
}

.test-focus-visible-pseudo-class:focus-visible {
	order: 26;
}

.test-double-position-gradients {
	background-image: conic-gradient(yellowgreen 40%, gold 0deg,gold 75%, #f06 0deg);
	background-image: conic-gradient(yellowgreen 40%, gold 0deg 75%, #f06 0deg);
}

.test-blank-pseudo-class[blank] {
	background-color: yellow;
}

.test-blank-pseudo-class:blank {
	background-color: yellow;
}

.test-has-pseudo-class[\:has\(.inner-class\)] {
	background-color: yellow;
}

.test-has-pseudo-class:has(.inner-class) {
	background-color: yellow;
}

.a:focus {
	order: 27;
}

.a:hover {
	order: 27;
}

.b:focus {
	order: 27;
}

.b:hover {
	order: 27;
}

.a.c > .b + .d {
	order: 28;
}

.test-hwb-function {
	background-color: rgba(0, 195, 255, .5);
}

.test-opacity-percent {
	opacity: 0.42;
}

.clamp-same-unit {
	width: max(10px, min(64px, 80px));
}

.complex-clamp {
	width: max(calc(100% - 10px), min(min(10px, 100%), max(40px, 4em)));
}

.clamp-different-units {
	width: max(10%, min(2px, 4rem));
}

.mixed-clamp {
	grid-template-columns: max(22rem, min(40%, 32rem)) minmax(0, 1fr);
	margin: max(1rem, min(2%, 3rem)) 4vh;
}

.calc-clamp {
	margin: 0 40px 0 calc(-1 * max(32px, min(16vw, 64px)));
}

.multiple-calc-clamp {
	margin: calc(-1 * max(1px, min(2vw, 3px))) calc(-1 * max(4px, min(5vw, 6px)));
}

.nested-clamp {
	font-size: max(max(1rem, min(2vw, 3rem)), min(4vw, 5rem));
}

@font-face {
	font-family: 'A';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(a) format("woff2");
}

.block-flow {
	display: block;
	display: block flow;
}

.block-flow-root {
	display: flow-root;
	display: block flow-root;
}

.inline-flow {
	display: inline;
	display: inline flow;
}

.inline-flow-root {
	display: inline-block;
	display: inline flow-root;
}

.run-in-flow {
	display: run-in;
	display: run-in flow;
}

.list-item-block-flow {
	display: list-item;
	display: list-item block flow;
}

.inline-flow-list-item {
	display: inline list-item;
	display: inline flow list-item;
}

.block-flex {
	display: flex;
	display: block flex;
}

.inline-flex {
	display: inline-flex;
	display: inline flex;
}

.block-grid {
	display: grid;
	display: block grid;
}

.inline-grid {
	display: inline-grid;
	display: inline grid;
}

.inline-ruby {
	display: ruby;
	display: inline ruby;
}

.block-table {
	display: table;
	display: block table;
}

.inline-table {
	display: inline-table;
	display: inline table;
}

.table-cell-flow {
	display: table-cell;
	display: table-cell flow;
}

.table-caption-flow {
	display: table-caption;
	display: table-caption flow;
}

.ruby-base-flow {
	display: ruby-base;
	display: ruby-base flow;
}

.ruby-text-flow {
	display: ruby-text;
	display: ruby-text flow;
}

.logical-float:dir(ltr) {
	float: left;
}

.logical-float:dir(rtl) {
	float: right;
}

.color-function {
	prop-1: rgb(0,132,94);
	prop-2: 'color(display-p3 0.02472 0.01150 0.00574 / 1)';
	prop-3: rgba(7,3,1,1);
	prop-4: rgba(7,3,1,calc(33 / 22));
	prop-5: rgb(255,255,255);
}

.oklab {
	color-1: rgb(73, 71, 69);
	color-1: color(display-p3 0.28515 0.27983 0.27246);
	color-2: rgba(121, 34, 67, 1);
	color-2: color(display-p3 0.43853 0.16014 0.26019 / 1);
	color-3: rgba(121, 34, 67, .5);
	color-3: color(display-p3 0.43853 0.16014 0.26019 / .5);
	color-4: rgba(121, 34, 67, 1);
	color-4: color(display-p3 0.43853 0.16014 0.26019 / 100%);
	color-5: rgba(121, 34, 67, 0.5);
	color-5: color(display-p3 0.43853 0.16014 0.26019 / 50%);
	color-6: rgb(177, 102, 126);
	color-6: color(display-p3 0.65225 0.41303 0.49110);
	color-7: oklab(60% 0.1 0 foo);
	color-8: rgb(125, 35, 41);
	color-8: color(display-p3 0.45163 0.16556 0.17021);
	color-9: rgb(198, 93, 7);
	color-9: color(display-p3 0.72414 0.38678 0.14879);
	color-10: rgb(157, 147, 24);
	color-10: color(display-p3 0.60930 0.57658 0.20615);
	color-11: rgb(104, 166, 57);
	color-11: color(display-p3 0.46287 0.64491 0.28775);
	color-12: rgb(98, 172, 239);
	color-12: color(display-p3 0.45207 0.66555 0.91656);
}

.oklch {
	color-1: rgb(126, 37, 15);
	color-1: color(display-p3 0.45368 0.16978 0.09411);
	color-2: rgba(126, 37, 15, 1);
	color-2: color(display-p3 0.45368 0.16978 0.09411 / 1);
	color-3: rgba(126, 37, 15, .5);
	color-3: color(display-p3 0.45368 0.16978 0.09411 / .5);
	color-4: rgba(126, 37, 15, 1);
	color-4: color(display-p3 0.45368 0.16978 0.09411 / 100%);
	color-5: rgba(126, 37, 15, 0.5);
	color-5: color(display-p3 0.45368 0.16978 0.09411 / 50%);
	color-6: rgb(197, 84, 124);
	color-6: color(display-p3 0.71738 0.35446 0.48551);

	color-7: rgb(0, 152, 131);

	color-7: color(display-p3 0.19244 0.58461 0.51559);
	color-8: rgb(0, 152, 131);
	color-8: color(display-p3 0.19244 0.58461 0.51559);
	color-9: rgb(0, 152, 131);
	color-9: color(display-p3 0.19244 0.58461 0.51559);
	color-10: rgb(0, 152, 131);
	color-10: color(display-p3 0.19244 0.58461 0.51559);
	color-11: rgb(0, 152, 131);
	color-11: color(display-p3 0.19244 0.58461 0.51559);

	color-12: rgb(188, 101, 59);

	color-12: color(display-p3 0.69260 0.41373 0.26821);
	color-13: rgb(188, 101, 59);
	color-13: color(display-p3 0.69260 0.41373 0.26821);
	color-14: rgb(188, 101, 59);
	color-14: color(display-p3 0.69260 0.41373 0.26821);
	color-15: rgb(188, 101, 59);
	color-15: color(display-p3 0.69260 0.41373 0.26821);
	color-16: rgb(188, 101, 59);
	color-16: color(display-p3 0.69260 0.41373 0.26821);
	color-17: oklch(60% 0.1250 0.785398unknown);
}

.ic-unit {
	--value-2ic: 'something';
	text-indent: 2em;
	content: var(--value-2ic);
	left: var(--non-existing, 2em);
	width: calc(8em + 20px);
	height: 10px;
	margin: 0.5em 1em .2em;
	padding: 2    ic;
}

.unset {
	clip: unset;
}

.mod {
	padding: 8px 3px 1px calc(3px + 50%);
	transform: rotate(-50deg);
	width: 2px;
}

.rem {
	padding: 8px 3px 1px calc(3px + 50%);
	transform: rotate(-50deg);
}

.round {
	top: 3px;
	right: 3px;
	bottom: 3px;
	left: 2px;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
}

.trigonometric {
	left: 0.70711;
	left: 0.70711;
	left: 1;
	left: 30deg;
	left: 60deg;
	left: 84.29deg;
	left: -45deg;
	left: 90deg;
	left: 135deg;
	left: 0.90533;
}

.trigonometric-ignore-not-a-function {
	left: sin;
	left: cos;
	left: tan;
	left: asin;
	left: acos;
	left: atan;
	left: atan2;
}

.trigonometric-ignore-no-arguments {
	left: sin();
	left: cos();
	left: tan();
	left: asin();
	left: acos();
	left: atan();
	left: atan2();
}

[data-view-size=m] .view {
		background: red;
}

.nested-calc {
	order: calc(1 * calc(8 / 3 + calc(5 * 10)));
}

.text-decoration-shorthand {
	text-decoration: overline;
	text-decoration: overline wavy pink;
	text-decoration-thickness: 3px;
}

.stage__container:dir(ltr) {
	left: var(--size, 1rem);
}

.stage__container:dir(rtl) {
	right: var(--size, 1rem);
}
