:root {
	--order: 1;
}

.test-custom-property-fallbacks {
	--firebrick: rgb(179, 35, 35);
}

.test-custom-properties {
	-ms-flex-order: 1;
	    order: 1;
	-ms-flex-order: var(--order);
	    order: var(--order);
}

.test-image-set-function {
	background-image: url(img/test.png);
	background-image: image-set(url(img/test.png) 1x, url(img/test-2x.png) 2x);
	-ms-flex-order: 2;
	    order: 2;
}

@media (min-resolution: 192dpi) {

.test-image-set-function {
	background-image: url(img/test-2x.png);
}
}

.test-logical-properties-and-values {
	margin-left: 1px;
	margin-right: 2px;
	-ms-flex-order: 3;
	    order: 3;
	padding-top: 4px;
	padding-bottom: 4px;
}

.test-logical-resize {
	resize: horizontal;
}

.test-logical-viewport-units {
	width: calc(10vw + 5px);
	width: calc(10vi + 5px);
}

.test-nesting-rules {
	-ms-flex-order: 4;
	    order: 4;

	-ms-flex-order: 6;

	    order: 6;
}

.test-nesting-rules p {
		-ms-flex-order: 5;
		    order: 5;
	}

.test-nesting-rules,
#test-is-pseudo {
	-ms-flex-order: 7;
	    order: 7;

	-ms-flex-order: 9;

	    order: 9;
}

.test-nesting-rules + p, #test-is-pseudo + p {
		-ms-flex-order: 8;
		    order: 8;
	}

@media (max-width: 30em) {
	.test-custom-media-queries {
		-ms-flex-order: 10;
		    order: 10;
	}
}

@media (min-width: 480px) and (max-width: 767.98px) {
	.test-media-query-ranges {
		-ms-flex-order: 11;
		    order: 11;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6, .heading-7;

.test-custom-selectors:--heading {
	-ms-flex-order:12;
	    order:12;
}

.test-case-insensitive-attributes[frame=hsides],.test-case-insensitive-attributes[frame=Hsides],.test-case-insensitive-attributes[frame=hSides],.test-case-insensitive-attributes[frame=HSides],.test-case-insensitive-attributes[frame=hsIdes],.test-case-insensitive-attributes[frame=HsIdes],.test-case-insensitive-attributes[frame=hSIdes],.test-case-insensitive-attributes[frame=HSIdes],.test-case-insensitive-attributes[frame=hsiDes],.test-case-insensitive-attributes[frame=HsiDes],.test-case-insensitive-attributes[frame=hSiDes],.test-case-insensitive-attributes[frame=HSiDes],.test-case-insensitive-attributes[frame=hsIDes],.test-case-insensitive-attributes[frame=HsIDes],.test-case-insensitive-attributes[frame=hSIDes],.test-case-insensitive-attributes[frame=HSIDes],.test-case-insensitive-attributes[frame=hsidEs],.test-case-insensitive-attributes[frame=HsidEs],.test-case-insensitive-attributes[frame=hSidEs],.test-case-insensitive-attributes[frame=HSidEs],.test-case-insensitive-attributes[frame=hsIdEs],.test-case-insensitive-attributes[frame=HsIdEs],.test-case-insensitive-attributes[frame=hSIdEs],.test-case-insensitive-attributes[frame=HSIdEs],.test-case-insensitive-attributes[frame=hsiDEs],.test-case-insensitive-attributes[frame=HsiDEs],.test-case-insensitive-attributes[frame=hSiDEs],.test-case-insensitive-attributes[frame=HSiDEs],.test-case-insensitive-attributes[frame=hsIDEs],.test-case-insensitive-attributes[frame=HsIDEs],.test-case-insensitive-attributes[frame=hSIDEs],.test-case-insensitive-attributes[frame=HSIDEs],.test-case-insensitive-attributes[frame=hsideS],.test-case-insensitive-attributes[frame=HsideS],.test-case-insensitive-attributes[frame=hSideS],.test-case-insensitive-attributes[frame=HSideS],.test-case-insensitive-attributes[frame=hsIdeS],.test-case-insensitive-attributes[frame=HsIdeS],.test-case-insensitive-attributes[frame=hSIdeS],.test-case-insensitive-attributes[frame=HSIdeS],.test-case-insensitive-attributes[frame=hsiDeS],.test-case-insensitive-attributes[frame=HsiDeS],.test-case-insensitive-attributes[frame=hSiDeS],.test-case-insensitive-attributes[frame=HSiDeS],.test-case-insensitive-attributes[frame=hsIDeS],.test-case-insensitive-attributes[frame=HsIDeS],.test-case-insensitive-attributes[frame=hSIDeS],.test-case-insensitive-attributes[frame=HSIDeS],.test-case-insensitive-attributes[frame=hsidES],.test-case-insensitive-attributes[frame=HsidES],.test-case-insensitive-attributes[frame=hSidES],.test-case-insensitive-attributes[frame=HSidES],.test-case-insensitive-attributes[frame=hsIdES],.test-case-insensitive-attributes[frame=HsIdES],.test-case-insensitive-attributes[frame=hSIdES],.test-case-insensitive-attributes[frame=HSIdES],.test-case-insensitive-attributes[frame=hsiDES],.test-case-insensitive-attributes[frame=HsiDES],.test-case-insensitive-attributes[frame=hSiDES],.test-case-insensitive-attributes[frame=HSiDES],.test-case-insensitive-attributes[frame=hsIDES],.test-case-insensitive-attributes[frame=HsIDES],.test-case-insensitive-attributes[frame=hSIDES],.test-case-insensitive-attributes[frame=HSIDES] {
	-ms-flex-order: 13;
	    order: 13;
}

.test-rebeccapurple-color {
	color: #639;
	-ms-flex-order: 14;
	    order: 14;
}

.test-hexadecimal-alpha-notation {
	background-color: rgba(243,243,243,0.95294);
	color: rgba(0,0,0,0.2);
	-ms-flex-order: 15;
	    order: 15;
}

.test-color-functional-notation {
	color: rgba(178, 34, 34, 0.5);
	-ms-flex-order: 16;
	    order: 16;
}

.test-lab-function {
	background-color: rgb(179, 35, 35);
	color: rgba(179, 34, 35, 0.5);
	-ms-flex-order: 17;
	    order: 17;
}

.test-system-ui-font-family {
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	-ms-flex-order: 18;
	    order: 18;
}

.test-font-variant-property {
	font-feature-settings: "smcp";
	font-variant-caps: small-caps;
	-ms-flex-order: 19;
	    order: 19;
}

.test-all-property {
	animation: none 0s ease 0s 1 normal none running;
	backface-visibility: visible;
	background: transparent none repeat 0 0 / auto auto padding-box border-box scroll;
	border: medium none currentcolor;
	border-collapse: separate;
	border-image: none;
	border-radius: 0;
	border-spacing: 0;
	bottom: auto;
	box-shadow: none;
	box-sizing: content-box;
	caption-side: top;
	clear: none;
	clip: auto;
	color: #000;
	columns: auto;
	column-count: auto;
	column-fill: balance;
	column-gap: normal;
	column-rule: medium none currentcolor;
	column-span: 1;
	column-width: auto;
	content: normal;
	counter-increment: none;
	counter-reset: none;
	cursor: auto;
	display: inline;
	empty-cells: show;
	float: none;
	font-family: serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: normal;
	height: auto;
	-ms-hyphens: none;
	    hyphens: none;
	left: auto;
	letter-spacing: normal;
	list-style: disc outside none;
	margin: 0;
	max-height: none;
	max-width: none;
	min-height: 0;
	min-width: 0;
	opacity: 1;
	orphans: 2;
	outline: medium none currentcolor;
	overflow: visible;
	overflow-x: visible;
	overflow-y: visible;
	padding: 0;
	page-break-after: auto;
	page-break-before: auto;
	page-break-inside: auto;
	perspective: none;
	perspective-origin: 50% 50%;
	position: static;
	right: auto;
	tab-size: 8;
	table-layout: auto;
	text-align: left;
	text-align-last: auto;
	text-decoration: none;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	top: auto;
	transform: none;
	transform-origin: 50% 50% 0;
	transform-style: flat;
	transition: none 0s ease 0s;
	vertical-align: baseline;
	visibility: visible;
	white-space: normal;
	widows: 2;
	width: auto;
	word-spacing: normal;
	z-index: auto;
	all: initial;
	-ms-flex-order: 20;
	    order: 20;
}

.test-matches-pseudo-class:matches(:first-child, .special) {
	-ms-flex-order: 21;
	    order: 21;
}

.test-not-pseudo-class:not(:first-child):not(.special) {
	-ms-flex-order: 22;
	    order: 22;
}

.test-any-link-pseudo-class:link, .test-any-link-pseudo-class:visited, area[href].test-any-link-pseudo-class {
	-ms-flex-order: 23;
	    order: 23;
}

.test-any-link-pseudo-class:any-link {
	-ms-flex-order: 23;
	    order: 23;
}

[dir="rtl"] .test-dir-pseudo-class {
	-ms-flex-order: 24;
	    order: 24;
}

.test-overflow-wrap-property {
	-ms-flex-order: 25;
	    order: 25;
	word-wrap: break-word;
}

.test-focus-visible-pseudo-class:focus-visible {
	-ms-flex-order: 26;
	    order: 26;
}

.test-double-position-gradients {
	background-image: conic-gradient(yellowgreen 40%, gold 0deg,gold 75%, #f06 0deg);
	background-image: conic-gradient(yellowgreen 40%, gold 0deg 75%, #f06 0deg);
}

.test-blank-pseudo-class:blank {
	background-color: yellow;
}

.test-has-pseudo-class:has(.inner-class) {
	background-color: yellow;
}

.a:focus, .a:hover, .b:focus, .b:hover {
	-ms-flex-order: 27;
	    order: 27;
}

.a.c > .b + .d {
	-ms-flex-order: 28;
	    order: 28;
}

.test-hwb-function {
	background-color: rgba(0, 196, 255, 0.5);
}

.test-opacity-percent {
	opacity: 0.42;
}

.clamp-same-unit {
	width: max(10px, min(64px, 80px));
}

.complex-clamp {
	width: max(calc(100% - 10px), min(min(10px, 100%), max(40px, 4em)));
}

.clamp-different-units {
	width: max(10%, min(2px, 4rem));
}

.mixed-clamp {
	grid-template-columns: max(22rem, min(40%, 32rem)) minmax(0, 1fr);
	margin: max(1rem, min(2%, 3rem)) 4vh;
}

.calc-clamp {
	margin: 0 40px 0 calc(-1 * max(32px, min(16vw, 64px)));
}

.multiple-calc-clamp {
	margin: calc(-1 * max(1px, min(2vw, 3px))) calc(-1 * max(4px, min(5vw, 6px)));
}

.nested-clamp {
	font-size: max(max(1rem, min(2vw, 3rem)), min(4vw, 5rem));
}

@font-face {
	font-family: 'A';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(a) format("woff2");
}

.block-flow {
	display: block;
	display: block flow;
}

.block-flow-root {
	display: flow-root;
	display: block flow-root;
}

.inline-flow {
	display: inline;
	display: inline flow;
}

.inline-flow-root {
	display: inline-block;
	display: inline flow-root;
}

.run-in-flow {
	display: run-in;
	display: run-in flow;
}

.list-item-block-flow {
	display: list-item;
	display: list-item block flow;
}

.inline-flow-list-item {
	display: inline list-item;
	display: inline flow list-item;
}

.block-flex {
	display: -ms-flexbox;
	display: flex;
	display: block flex;
}

.inline-flex {
	display: -ms-inline-flexbox;
	display: inline-flex;
	display: inline flex;
}

.block-grid {
	display: grid;
	display: block grid;
}

.inline-grid {
	display: inline-grid;
	display: inline grid;
}

.inline-ruby {
	display: ruby;
	display: inline ruby;
}

.block-table {
	display: table;
	display: block table;
}

.inline-table {
	display: inline-table;
	display: inline table;
}

.table-cell-flow {
	display: table-cell;
	display: table-cell flow;
}

.table-caption-flow {
	display: table-caption;
	display: table-caption flow;
}

.ruby-base-flow {
	display: ruby-base;
	display: ruby-base flow;
}

.ruby-text-flow {
	display: ruby-text;
	display: ruby-text flow;
}

.logical-float {
	float: left;
}

.color-function {
	prop-1: rgb(0, 129, 96);
	prop-2: 'color(display-p3 0.02472 0.01150 0.00574 / 1)';
	prop-3: rgb(7, 3, 1);
	prop-4: rgb(7, 3, 1);
	prop-5: color(display-p3 1 1 1 1);
}

.oklab {
	color-1: rgb(73, 71, 69);
	color-2: rgb(121, 34, 67);
	color-3: rgba(121, 34, 67, 0.5);
	color-4: rgb(121, 34, 67);
	color-5: rgba(121, 34, 67, 0.5);
	color-6: rgb(177, 102, 126);
	color-7: oklab(60% 0.1 0 foo);
	color-8: rgb(125, 35, 41);
	color-9: rgb(198, 93, 7);
	color-10: rgb(157, 147, 24);
	color-11: rgb(104, 166, 57);
	color-12: rgb(98, 172, 239);
}

.oklch {
	color-1: rgb(126, 37, 15);
	color-2: rgb(126, 37, 15);
	color-3: rgba(126, 37, 15, 0.5);
	color-4: rgb(126, 37, 15);
	color-5: rgba(126, 37, 15, 0.5);
	color-6: rgb(197, 84, 124);

	color-7: rgb(0, 149, 131);
	color-8: rgb(0, 149, 131);
	color-9: rgb(0, 149, 131);
	color-10: rgb(0, 149, 131);
	color-11: rgb(0, 149, 131);

	color-12: rgb(188, 101, 59);
	color-13: rgb(188, 101, 59);
	color-14: rgb(188, 101, 59);
	color-15: rgb(188, 101, 59);
	color-16: rgb(188, 101, 59);
	color-17: oklch(60% 0.1250 0.785398unknown);
}

@media (color-gamut: p3) {
.oklch {

	color-7: color(display-p3 0.19244 0.58461 0.51559);
	color-8: color(display-p3 0.19244 0.58461 0.51559);
	color-9: color(display-p3 0.19244 0.58461 0.51559);
	color-10: color(display-p3 0.19244 0.58461 0.51559);
	color-11: color(display-p3 0.19244 0.58461 0.51559);
}
}

.ic-unit {
	--value-2ic: initial;
	text-indent: 2em;
	content: var(--value-2ic);
	left: 2em;
	left: var(--non-existing, 2em);
	width: calc(8em + 20px);
	height: 10px;
	margin: 0.5em 1em .2em;
	padding: 2    ic;
}

.unset {
	clip: auto;
	clip: initial;
}

.mod {
	padding: 8px 3px 1px calc(3px + 50%);
	transform: rotate(-50deg);
	width: 2px;
}

.rem {
	padding: 8px 3px 1px calc(3px + 50%);
	transform: rotate(-50deg);
}

.round {
	top: 3px;
	right: 3px;
	bottom: 3px;
	left: 2px;
	padding-left: 2px;
}

.trigonometric {
	left: 0.70711;
	left: 0.70711;
	left: 1;
	left: 30deg;
	left: 60deg;
	left: 84.28941deg;
	left: -45deg;
	left: 90deg;
	left: 135deg;
	left: 0.99863;
}

.trigonometric-ignore-not-a-function {
	left: sin;
	left: cos;
	left: tan;
	left: asin;
	left: acos;
	left: atan;
	left: atan2;
}

.trigonometric-ignore-no-arguments {
	left: sin();
	left: cos();
	left: tan();
	left: asin();
	left: acos();
	left: atan();
	left: atan2();
}

@custom-selector :--view-m [data-view-size=m];

:--view-m .view {
		background: red;
	}

.nested-calc {
	-ms-flex-order: calc(1 * (8 / 3 + (5 * 10)));
	    order: calc(1 * (8 / 3 + (5 * 10)));
	-ms-flex-order: calc(1 * calc(8 / 3 + calc(5 * 10)));
	    order: calc(1 * calc(8 / 3 + calc(5 * 10)));
}

.text-decoration-shorthand {
	text-decoration: overline;
	text-decoration: overline wavy pink;
	text-decoration-thickness: 3px;
	text-decoration: 3px wavy pink overline;
}

.stage__container {
	left: 1rem;
	left: var(--size, 1rem);
}

:root {
	content: "plain :scope";
}

@scope (.foo) {
	:scope {
		content: ":scope in @scope";
	}
}

:root {
	@scope (.foo) {
		content: ":scope in @scope, but with nesting";
	}
}

@media (min-aspect-ratio: 177/100) {
	/* media query aspect ratio : <number> */
}

.color-mix {
	color-1: rgba(0, 0, 255, 0.65);
	color-2: rgba(0, 0, 255, 0.65);
	color-3: rgba(0, 0, 255, 0.65);
	color-4: rgba(122, 0, 182, 0.65);
	color-5: rgba(149, 0, 122, 0.65);
	color-6: rgba(179, 0, 255, 0.65);
}

@media (color-gamut: p3) {
.color-mix {
	color-4: color(display-p3 0.44471 0 0.71665 / 0.65);
	color-5: color(display-p3 0.55417 0 0.48083 / 0.65);
}
}

.gradients-interpolation-method {
	--background-image: linear-gradient(rgb(245, 137, 137) 0%, rgb(245, 140, 170), rgb(238, 146, 202), rgb(227, 155, 230), rgb(210, 166, 253), rgb(188, 179, 255), rgb(164, 192, 255), rgb(137, 206, 255), rgb(111, 218, 255), rgb(93, 229, 255), rgb(94, 237, 237) 100%);

	background-image: radial-gradient(farthest-corner circle at 50% 115%, rgb(255, 71, 0) 0%, rgb(255, 103, 0), rgb(255, 137, 0), rgb(255, 169, 0), rgb(250, 199, 0), rgb(197, 225, 0), rgb(116, 246, 0), rgb(0, 255, 86), rgb(0, 255, 171), rgb(0, 255, 239), rgb(0, 255, 255) 100%);

	background-image: radial-gradient(farthest-corner circle at 50% 115%, color(display-p3 1.2198 0.38716 0.16814) 0%, color(display-p3 1.20289 0.47522 -0.3004), color(display-p3 1.15167 0.57912 -0.3946), color(display-p3 1.06645 0.68611 -0.4296), color(display-p3 0.94738 0.78766 -0.4263), color(display-p3 0.79233 0.87807 -0.3707), color(display-p3 0.59026 0.95319 -0.1467), color(display-p3 0.27082 1.00972 0.43521), color(display-p3 -0.3983 1.04501 0.69996), color(display-p3 -0.5392 1.05733 0.93686), color(display-p3 -0.5777 1.04644 1.15396) 100%);
}

@supports (color: color(display-p3 0 0 0)) {
.gradients-interpolation-method {
	--background-image: linear-gradient(rgb(245, 137, 137) 0%, rgb(245, 140, 170), rgb(238, 146, 202), rgb(227, 155, 230), rgb(210, 166, 253), color(display-p3 0.73255 0.7035 1.03328), color(display-p3 0.66377 0.75145 1.06652), color(display-p3 0.59643 0.80011 1.0696), color(display-p3 0.54198 0.8462 1.04382), color(display-p3 0.51578 0.88643 0.99318), rgb(94, 237, 237) 100%);
}
}

@supports (background: linear-gradient(in oklch, red 0%, red 0% 1%, red 2%)) and (color: hsl(0 0% 0% / 0)) {
.gradients-interpolation-method {
	--background-image: linear-gradient(in oklch decreasing hue, hsl(0deg 85% 75%) 0%, hsl(180deg 80% 65%) 100%);
}
}

@media (color-gamut: rec2020) {
.gradients-interpolation-method {

	background-image: radial-gradient(farthest-corner circle at 50% 115% in oklch, oklch(80% .3 34) 0%, oklch(90% .3 200) 100%);
}
}

.test-css-color-5-interop {
	color-1: rgb(196, 129, 72);
	color-2: color(from rgb(196, 129, 72) a98-rgb r g b / none);
	color-3: rgb(234, 133, 82);
	color-4: color(from rgb(234, 133, 82) prophoto-rgb r g none);
	color-5: rgb(179, 157, 51);
	color-6: rgb(179, 35, 35);
	color-7: rgb(163, 57, 39);
	color-8: rgb(141, 0, 0);
	color-9: rgb(130, 31, 0);
}

@media (color-gamut: p3) {
.test-css-color-5-interop {
	color-8: color(display-p3 0.50566 0.0781 0);
	color-9: color(display-p3 0.48896 0.1211 0);
}
}

.test-property-with-var {
	--opacity: 1;
	color: rgba(87, 107, 149, 1);
	color: rgba(87, 107, 149, var(--opacity));
}

.exponential-functions {
	width: 8px;
}
