:root {
	--order: 1;
}

.test-custom-properties {
	order: var(--order);
}

.test-image-set-function {
	background-image: url(img/test.png);
	background-image: image-set(url(img/test.png) 1x, url(img/test-2x.png) 2x);
	order: 2;
}

@media (min-resolution: 192dpi) {

.test-image-set-function {
	background-image: url(img/test-2x.png);
}
}

.test-logical-properties-and-values {
	margin: logical 1px 2px 3px 4px;
	order: 3;
	padding-block: 5px;
}

.test-nesting-rules {
	order: 4;

	& p {
		order: 5;
	}

	order: 6;
}

.test-nesting-rules,
#test-is-pseudo {
	order: 7;

	& + p {
		order: 8;
	}

	order: 9;
}

@custom-media --narrow-window (max-width: 30em);

@media (--narrow-window) {
	.test-custom-media-queries {
		order: 10;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.test-media-query-ranges {
		order: 11;
	}
}

@custom-media --dark-mode (prefers-color-scheme: dark);

@media (--dark-mode) {
	body {
		background-color: black;
		color: white;
	}
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

.test-custom-selectors:--heading {
	order:12;
}

.test-case-insensitive-attributes[frame=hsides i] {
	order: 13;
}

.test-rebeccapurple-color {
	color: rebeccapurple;
	order: 14;
}

.test-hexadecimal-alpha-notation {
	background-color: #f3f3f3f3;
	color: #0003;
	order: 15;
}

.test-color-functional-notation {
	color: rgb(70% 13.5% 13.5% / 50%);
	order: 16;
}

.test-lab-function {
	background-color: rgb(179, 35, 35);
	color: rgba(179, 34, 35, 0.5);
	order: 17;
}

.test-system-ui-font-family {
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	order: 18;
}

.test-font-variant-property {
	font-variant-caps: small-caps;
	order: 19;
}

.test-all-property {
	all: initial;
	order: 20;
}

.test-matches-pseudo-class:matches(:first-child, .special) {
	order: 21;
}

.test-not-pseudo-class:not(:first-child):not(.special) {
	order: 22;
}

.test-any-link-pseudo-class:any-link {
	order: 23;
}

.test-dir-pseudo-class:dir(rtl) {
	order: 24;
}

.test-overflow-wrap-property {
	order: 25;
	overflow-wrap: break-word;
}

.test-focus-visible-pseudo-class.focus-visible {
	order: 26;
}

.test-focus-visible-pseudo-class:focus-visible {
	order: 26;
}

.test-double-position-gradients {
	background-image: conic-gradient(yellowgreen 40%, gold 0deg,gold 75%, #f06 0deg);
	background-image: conic-gradient(yellowgreen 40%, gold 0deg 75%, #f06 0deg);
}

.test-blank-pseudo-class:blank {
	background-color: yellow;
}

.test-has-pseudo-class[\:has\(.inner-class\)] {
	background-color: yellow;
}

.test-has-pseudo-class:has(.inner-class) {
	background-color: yellow;
}

.a:focus {
	order: 27;
}

.a:hover {
	order: 27;
}

.b:focus {
	order: 27;
}

.b:hover {
	order: 27;
}

.a.c > .b + .d {
	order: 28;
}

.test-hwb-function {
	background-color: rgba(0, 195, 255, .5);
}

.test-opacity-percent {
	opacity: 42%;
}

.clamp-same-unit {
	width: clamp(10px, 64px, 80px);
}

.complex-clamp {
	width: clamp(calc(100% - 10px), min(10px, 100%), max(40px, 4em));
}

.clamp-different-units {
	width: clamp(10%, 2px, 4rem);
}
