:root {
	--order: 1;
}

.test-custom-property-fallbacks {
	--firebrick: rgb(179, 35, 35);
}

.test-custom-properties {
	order: var(--order);
}

.test-image-set-function {
	background-image: url(img/test.png);
	background-image: -webkit-image-set(url(img/test.png) 1x, url(img/test-2x.png) 2x);
	background-image: image-set(url(img/test.png) 1x, url(img/test-2x.png) 2x);
	order: 2;
}

@media (min-resolution: 192dpi) {

.test-image-set-function {
	background-image: url(img/test-2x.png);
}
}

.test-logical-properties-and-values {
	margin-left: 1px;
	margin-right: 2px;
	order: 3;
	padding-top: 4px;
	padding-bottom: 4px;
}

.test-logical-resize {
	resize: horizontal;
}

.test-logical-viewport-units {
	width: calc(10vw + 5px);
	width: calc(10vi + 5px);
}

.test-nesting-rules {
	order: 4;

	order: 6;
}

.test-nesting-rules p {
		order: 5;
	}

.test-nesting-rules,
#test-is-pseudo {
	order: 7;

	order: 9;
}

.test-nesting-rules + p, #test-is-pseudo + p {
		order: 8;
	}

@media (max-width: 30em) {
	.test-custom-media-queries {
		order: 10;
	}
}

@media (min-width: 480px) and (max-width: 767.98px) {
	.test-media-query-ranges {
		order: 11;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}
}

h1.test-custom-selectors:not(.does-not-exist), h2.test-custom-selectors:not(.does-not-exist), h3.test-custom-selectors:not(.does-not-exist), h4.test-custom-selectors:not(.does-not-exist), h5.test-custom-selectors:not(.does-not-exist), h6.test-custom-selectors:not(.does-not-exist), .test-custom-selectors.heading-7 {
	order:12;
}

.test-case-insensitive-attributes[frame=hsides i] {
	order: 13;
}

.test-rebeccapurple-color {
	color: rebeccapurple;
	order: 14;
}

.test-hexadecimal-alpha-notation {
	background-color: #f3f3f3f3;
	color: #0003;
	order: 15;
}

.test-color-functional-notation {
	color: rgb(70% 13.5% 13.5% / 50%);
	order: 16;
}

.test-lab-function {
	background-color: rgb(179, 35, 35);
	color: rgba(179, 34, 35, 0.5);
	order: 17;
}

.test-system-ui-font-family {
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	order: 18;
}

.test-font-variant-property {
	font-feature-settings: "smcp";
	font-variant-caps: small-caps;
	order: 19;
}

.test-all-property {
	all: initial;
	order: 20;
}

.test-matches-pseudo-class:matches(:first-child, .special) {
	order: 21;
}

.test-not-pseudo-class:not(:first-child):not(.special) {
	order: 22;
}

.test-any-link-pseudo-class:any-link {
	order: 23;
}

[dir="rtl"] .test-dir-pseudo-class {
	order: 24;
}

.test-overflow-wrap-property {
	order: 25;
	overflow-wrap: break-word;
}

.test-focus-visible-pseudo-class:focus-visible {
	order: 26;
}

.test-double-position-gradients {
	background-image: conic-gradient(yellowgreen 40%, gold 0deg,gold 75%, #f06 0deg);
	background-image: conic-gradient(yellowgreen 40%, gold 0deg 75%, #f06 0deg);
}

.test-blank-pseudo-class:blank {
	background-color: yellow;
}

.test-has-pseudo-class:has(.inner-class) {
	background-color: yellow;
}

.a:focus, .a:hover, .b:focus, .b:hover {
	order: 27;
}

.a.c > .b + .d {
	order: 28;
}

.test-hwb-function {
	background-color: rgba(0, 196, 255, 0.5);
}

.test-opacity-percent {
	opacity: 42%;
}

.clamp-same-unit {
	width: clamp(10px, 64px, 80px);
}

.complex-clamp {
	width: clamp(calc(100% - 10px), min(10px, 100%), max(40px, 4em));
}

.clamp-different-units {
	width: clamp(10%, 2px, 4rem);
}

.mixed-clamp {
	grid-template-columns: clamp(22rem, 40%, 32rem) minmax(0, 1fr);
	margin: clamp(1rem, 2%, 3rem) 4vh;
}

.calc-clamp {
	margin: 0 40px 0 calc(-1 * clamp(32px, 16vw, 64px));
}

.multiple-calc-clamp {
	margin: calc(-1 * clamp(1px, 2vw, 3px)) calc(-1 * clamp(4px, 5vw, 6px));
}

.nested-clamp {
	font-size: clamp(clamp(1rem, 2vw, 3rem), 4vw, 5rem);
}

@font-face {
	font-family: 'A';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(a) format("woff2");
}

.block-flow {
	display: block;
	display: block flow;
}

.block-flow-root {
	display: flow-root;
	display: block flow-root;
}

.inline-flow {
	display: inline;
	display: inline flow;
}

.inline-flow-root {
	display: inline-block;
	display: inline flow-root;
}

.run-in-flow {
	display: run-in;
	display: run-in flow;
}

.list-item-block-flow {
	display: list-item;
	display: list-item block flow;
}

.inline-flow-list-item {
	display: inline list-item;
	display: inline flow list-item;
}

.block-flex {
	display: flex;
	display: block flex;
}

.inline-flex {
	display: inline-flex;
	display: inline flex;
}

.block-grid {
	display: grid;
	display: block grid;
}

.inline-grid {
	display: inline-grid;
	display: inline grid;
}

.inline-ruby {
	display: ruby;
	display: inline ruby;
}

.block-table {
	display: table;
	display: block table;
}

.inline-table {
	display: inline-table;
	display: inline table;
}

.table-cell-flow {
	display: table-cell;
	display: table-cell flow;
}

.table-caption-flow {
	display: table-caption;
	display: table-caption flow;
}

.ruby-base-flow {
	display: ruby-base;
	display: ruby-base flow;
}

.ruby-text-flow {
	display: ruby-text;
	display: ruby-text flow;
}

.logical-float {
	float: left;
}

.color-function {
	prop-1: rgb(0, 129, 96);
	prop-2: 'color(display-p3 0.02472 0.01150 0.00574 / 1)';
	prop-3: rgb(7, 3, 1);
	prop-4: rgb(7, 3, 1);
	prop-5: color(display-p3 1 1 1 1);
}

.oklab {
	color-1: rgb(73, 71, 69);
	color-2: rgb(121, 34, 67);
	color-3: rgba(121, 34, 67, 0.5);
	color-4: rgb(121, 34, 67);
	color-5: rgba(121, 34, 67, 0.5);
	color-6: rgb(177, 102, 126);
	color-7: oklab(60% 0.1 0 foo);
	color-8: rgb(125, 35, 41);
	color-9: rgb(198, 93, 7);
	color-10: rgb(157, 147, 24);
	color-11: rgb(104, 166, 57);
	color-12: rgb(98, 172, 239);
}

.oklch {
	color-1: rgb(126, 37, 15);
	color-2: rgb(126, 37, 15);
	color-3: rgba(126, 37, 15, 0.5);
	color-4: rgb(126, 37, 15);
	color-5: rgba(126, 37, 15, 0.5);
	color-6: rgb(197, 84, 124);

	color-7: rgb(0, 149, 131);

	color-7: color(display-p3 0.19244 0.58461 0.51559);
	color-8: rgb(0, 149, 131);
	color-8: color(display-p3 0.19244 0.58461 0.51559);
	color-9: rgb(0, 149, 131);
	color-9: color(display-p3 0.19244 0.58461 0.51559);
	color-10: rgb(0, 149, 131);
	color-10: color(display-p3 0.19244 0.58461 0.51559);
	color-11: rgb(0, 149, 131);
	color-11: color(display-p3 0.19244 0.58461 0.51559);

	color-12: rgb(188, 101, 59);
	color-13: rgb(188, 101, 59);
	color-14: rgb(188, 101, 59);
	color-15: rgb(188, 101, 59);
	color-16: rgb(188, 101, 59);
	color-17: oklch(60% 0.1250 0.785398unknown);
}

.ic-unit {
	--value-2ic: initial;
	text-indent: 2em;
	content: var(--value-2ic);
	left: var(--non-existing, 2em);
	width: calc(8em + 20px);
	height: 10px;
	margin: 0.5em 1em .2em;
	padding: 2    ic;
}

.unset {
	clip: unset;
}

.mod {
	padding: 8px 3px 1px calc(3px + 50%);
	transform: rotate(-50deg);
	width: 2px;
}

.rem {
	padding: 8px 3px 1px calc(3px + 50%);
	transform: rotate(-50deg);
}

.round {
	top: 3px;
	right: 3px;
	bottom: 3px;
	left: 2px;
	padding-left: 2px;
}

.trigonometric {
	left: 0.70711;
	left: 0.70711;
	left: 1;
	left: 30deg;
	left: 60deg;
	left: 84.28941deg;
	left: -45deg;
	left: 90deg;
	left: 135deg;
	left: 0.99863;
}

.trigonometric-ignore-not-a-function {
	left: sin;
	left: cos;
	left: tan;
	left: asin;
	left: acos;
	left: atan;
	left: atan2;
}

.trigonometric-ignore-no-arguments {
	left: sin();
	left: cos();
	left: tan();
	left: asin();
	left: acos();
	left: atan();
	left: atan2();
}

[data-view-size=m] .view {
		background: red;
}

.nested-calc {
	order: calc(1 * calc(8 / 3 + calc(5 * 10)));
}

.text-decoration-shorthand {
	text-decoration: 3px wavy pink overline;
}

.stage__container {
	left: var(--size, 1rem);
}

:scope {
	content: "plain :scope";
}

@scope (.foo) {
	:scope {
		content: ":scope in @scope";
	}
}

:scope {
	@scope (.foo) {
		content: ":scope in @scope, but with nesting";
	}
}

@media (min-aspect-ratio: 177/100) {
	/* media query aspect ratio : <number> */
}

.color-mix {
	color-1: rgba(0, 0, 255, 0.65);
	color-2: rgba(0, 0, 255, 0.65);
	color-3: rgba(0, 0, 255, 0.65);
	color-4: rgba(122, 0, 182, 0.65);
	color-4: color(display-p3 0.44471 0 0.71665 / 0.65);
	color-5: rgba(149, 0, 122, 0.65);
	color-5: color(display-p3 0.55417 0 0.48083 / 0.65);
	color-6: rgba(179, 0, 255, 0.65);
}

.gradients-interpolation-method {
	--background-image: linear-gradient(rgb(245, 137, 137) 0%, rgb(245, 140, 170), rgb(238, 146, 202), rgb(227, 155, 230), rgb(210, 166, 253), rgb(188, 179, 255), rgb(164, 192, 255), rgb(137, 206, 255), rgb(111, 218, 255), rgb(93, 229, 255), rgb(94, 237, 237) 100%);
}

@supports (color: rgb(0 0 0 / 0)) and (color: color(display-p3 0 0 0)) {
.gradients-interpolation-method {
	--background-image: linear-gradient(rgb(245, 137, 137) 0%, rgb(245, 140, 170), rgb(238, 146, 202), rgb(227, 155, 230), rgb(210, 166, 253), color(display-p3 0.73255 0.7035 1.03328), color(display-p3 0.66377 0.75145 1.06652), color(display-p3 0.59643 0.80011 1.0696), color(display-p3 0.54198 0.8462 1.04382), color(display-p3 0.51578 0.88643 0.99318), rgb(94, 237, 237) 100%);
}
}

@supports (background: linear-gradient(in oklch, red 0%, red 0% 1%, red 2%)) and (color: hsl(0 0% 0% / 0)) {
.gradients-interpolation-method {
	--background-image: linear-gradient(in oklch decreasing hue, hsl(0deg 85% 75%) 0%, hsl(180deg 80% 65%) 100%);
}
}
