:root {
	--order: 1;
}

.test-custom-properties {
	-ms-flex-order: 1;
	    order: 1;
	-ms-flex-order: var(--order);
	    order: var(--order);
}

.test-image-set-function {
	background-image: url(img/test.png);
	background-image: image-set(url(img/test.png) 1x, url(img/test-2x.png) 2x);
	-ms-flex-order: 2;
	    order: 2;
}

@media (min-resolution: 192dpi) {

.test-image-set-function {
	background-image: url(img/test-2x.png);
}
}

[dir="ltr"] .test-logical-properties-and-values {
	margin: 1px 4px 3px 2px;
}

[dir="rtl"] .test-logical-properties-and-values {
	margin: 1px 2px 3px 4px;
}

.test-logical-properties-and-values {
	-ms-flex-order: 3;
	    order: 3;
	padding-top: 5px;
	padding-bottom: 5px;
}

.test-nesting-rules {
	-ms-flex-order: 4;
	    order: 4;

	& p {
		-ms-flex-order: 5;
		    order: 5;
	}

	-ms-flex-order: 6;

	    order: 6;
}

.test-nesting-rules,
#test-is-pseudo {
	-ms-flex-order: 7;
	    order: 7;

	& + p {
		-ms-flex-order: 8;
		    order: 8;
	}

	-ms-flex-order: 9;

	    order: 9;
}

@custom-media --narrow-window (max-width: 30em);

@media (--narrow-window) {
	.test-custom-media-queries {
		-ms-flex-order: 10;
		    order: 10;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.test-media-query-ranges {
		-ms-flex-order: 11;
		    order: 11;
	}
}

@custom-media --dark-mode (prefers-color-scheme: dark);

@media (--dark-mode) {
	body {
		background-color: black;
		color: white;
	}
}

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

.test-custom-selectors:--heading {
	-ms-flex-order:12;
	    order:12;
}

.test-case-insensitive-attributes[frame=hsides],.test-case-insensitive-attributes[frame=Hsides],.test-case-insensitive-attributes[frame=hSides],.test-case-insensitive-attributes[frame=HSides],.test-case-insensitive-attributes[frame=hsIdes],.test-case-insensitive-attributes[frame=HsIdes],.test-case-insensitive-attributes[frame=hSIdes],.test-case-insensitive-attributes[frame=HSIdes],.test-case-insensitive-attributes[frame=hsiDes],.test-case-insensitive-attributes[frame=HsiDes],.test-case-insensitive-attributes[frame=hSiDes],.test-case-insensitive-attributes[frame=HSiDes],.test-case-insensitive-attributes[frame=hsIDes],.test-case-insensitive-attributes[frame=HsIDes],.test-case-insensitive-attributes[frame=hSIDes],.test-case-insensitive-attributes[frame=HSIDes],.test-case-insensitive-attributes[frame=hsidEs],.test-case-insensitive-attributes[frame=HsidEs],.test-case-insensitive-attributes[frame=hSidEs],.test-case-insensitive-attributes[frame=HSidEs],.test-case-insensitive-attributes[frame=hsIdEs],.test-case-insensitive-attributes[frame=HsIdEs],.test-case-insensitive-attributes[frame=hSIdEs],.test-case-insensitive-attributes[frame=HSIdEs],.test-case-insensitive-attributes[frame=hsiDEs],.test-case-insensitive-attributes[frame=HsiDEs],.test-case-insensitive-attributes[frame=hSiDEs],.test-case-insensitive-attributes[frame=HSiDEs],.test-case-insensitive-attributes[frame=hsIDEs],.test-case-insensitive-attributes[frame=HsIDEs],.test-case-insensitive-attributes[frame=hSIDEs],.test-case-insensitive-attributes[frame=HSIDEs],.test-case-insensitive-attributes[frame=hsideS],.test-case-insensitive-attributes[frame=HsideS],.test-case-insensitive-attributes[frame=hSideS],.test-case-insensitive-attributes[frame=HSideS],.test-case-insensitive-attributes[frame=hsIdeS],.test-case-insensitive-attributes[frame=HsIdeS],.test-case-insensitive-attributes[frame=hSIdeS],.test-case-insensitive-attributes[frame=HSIdeS],.test-case-insensitive-attributes[frame=hsiDeS],.test-case-insensitive-attributes[frame=HsiDeS],.test-case-insensitive-attributes[frame=hSiDeS],.test-case-insensitive-attributes[frame=HSiDeS],.test-case-insensitive-attributes[frame=hsIDeS],.test-case-insensitive-attributes[frame=HsIDeS],.test-case-insensitive-attributes[frame=hSIDeS],.test-case-insensitive-attributes[frame=HSIDeS],.test-case-insensitive-attributes[frame=hsidES],.test-case-insensitive-attributes[frame=HsidES],.test-case-insensitive-attributes[frame=hSidES],.test-case-insensitive-attributes[frame=HSidES],.test-case-insensitive-attributes[frame=hsIdES],.test-case-insensitive-attributes[frame=HsIdES],.test-case-insensitive-attributes[frame=hSIdES],.test-case-insensitive-attributes[frame=HSIdES],.test-case-insensitive-attributes[frame=hsiDES],.test-case-insensitive-attributes[frame=HsiDES],.test-case-insensitive-attributes[frame=hSiDES],.test-case-insensitive-attributes[frame=HSiDES],.test-case-insensitive-attributes[frame=hsIDES],.test-case-insensitive-attributes[frame=HsIDES],.test-case-insensitive-attributes[frame=hSIDES],.test-case-insensitive-attributes[frame=HSIDES] {
	-ms-flex-order: 13;
	    order: 13;
}

.test-rebeccapurple-color {
	color: #639;
	-ms-flex-order: 14;
	    order: 14;
}

.test-hexadecimal-alpha-notation {
	background-color: rgba(243,243,243,0.95294);
	color: rgba(0,0,0,0.2);
	-ms-flex-order: 15;
	    order: 15;
}

.test-color-functional-notation {
	color: rgb(70% 13.5% 13.5% / 50%);
	-ms-flex-order: 16;
	    order: 16;
}

.test-lab-function {
	background-color: rgb(179, 35, 35);
	color: rgba(179, 34, 35, 0.5);
	-ms-flex-order: 17;
	    order: 17;
}

.test-system-ui-font-family {
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
	-ms-flex-order: 18;
	    order: 18;
}

.test-font-variant-property {
	font-feature-settings: "smcp";
	font-variant-caps: small-caps;
	-ms-flex-order: 19;
	    order: 19;
}

.test-all-property {
	animation: none 0s ease 0s 1 normal none running;
	backface-visibility: visible;
	background: transparent none repeat 0 0 / auto auto padding-box border-box scroll;
	border: medium none currentColor;
	border-collapse: separate;
	border-image: none;
	border-radius: 0;
	border-spacing: 0;
	bottom: auto;
	box-shadow: none;
	box-sizing: content-box;
	caption-side: top;
	clear: none;
	clip: auto;
	color: #000;
	columns: auto;
	column-count: auto;
	column-fill: balance;
	column-gap: normal;
	column-rule: medium none currentColor;
	column-span: 1;
	column-width: auto;
	content: normal;
	counter-increment: none;
	counter-reset: none;
	cursor: auto;
	direction: ltr;
	display: inline;
	empty-cells: show;
	float: none;
	font-family: serif;
	font-size: medium;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: normal;
	height: auto;
	-ms-hyphens: none;
	    hyphens: none;
	left: auto;
	letter-spacing: normal;
	list-style: disc outside none;
	margin: 0;
	max-height: none;
	max-width: none;
	min-height: 0;
	min-width: 0;
	opacity: 1;
	orphans: 2;
	outline: medium none invert;
	overflow: visible;
	overflow-x: visible;
	overflow-y: visible;
	padding: 0;
	page-break-after: auto;
	page-break-before: auto;
	page-break-inside: auto;
	perspective: none;
	perspective-origin: 50% 50%;
	position: static;
	right: auto;
	tab-size: 8;
	table-layout: auto;
	text-align: left;
	text-align-last: auto;
	text-decoration: none;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	top: auto;
	transform: none;
	transform-origin: 50% 50% 0;
	transform-style: flat;
	transition: none 0s ease 0s;
	unicode-bidi: normal;
	vertical-align: baseline;
	visibility: visible;
	white-space: normal;
	widows: 2;
	width: auto;
	word-spacing: normal;
	z-index: auto;
	all: initial;
	-ms-flex-order: 20;
	    order: 20;
}

.test-matches-pseudo-class:matches(:first-child, .special) {
	-ms-flex-order: 21;
	    order: 21;
}

.test-not-pseudo-class:not(:first-child):not(.special) {
	-ms-flex-order: 22;
	    order: 22;
}

.test-any-link-pseudo-class:link, .test-any-link-pseudo-class:visited, area.test-any-link-pseudo-class[href] {
	-ms-flex-order: 23;
	    order: 23;
}

.test-any-link-pseudo-class:any-link {
	-ms-flex-order: 23;
	    order: 23;
}

[dir="rtl"] .test-dir-pseudo-class {
	-ms-flex-order: 24;
	    order: 24;
}

.test-overflow-wrap-property {
	-ms-flex-order: 25;
	    order: 25;
	word-wrap: break-word;
}

.test-focus-visible-pseudo-class.focus-visible {
	-ms-flex-order: 26;
	    order: 26;
}

.test-focus-visible-pseudo-class:focus-visible {
	-ms-flex-order: 26;
	    order: 26;
}

.test-double-position-gradients {
	background-image: conic-gradient(yellowgreen 40%, gold 0deg,gold 75%, #f06 0deg);
	background-image: conic-gradient(yellowgreen 40%, gold 0deg 75%, #f06 0deg);
}

.test-blank-pseudo-class:blank {
	background-color: yellow;
}

.test-has-pseudo-class[\:has\(.inner-class\)] {
	background-color: yellow;
}

.test-has-pseudo-class:has(.inner-class) {
	background-color: yellow;
}

.a:focus {
	-ms-flex-order: 27;
	    order: 27;
}

.a:hover {
	-ms-flex-order: 27;
	    order: 27;
}

.b:focus {
	-ms-flex-order: 27;
	    order: 27;
}

.b:hover {
	-ms-flex-order: 27;
	    order: 27;
}

.a.c > .b + .d {
	-ms-flex-order: 28;
	    order: 28;
}

.test-hwb-function {
	background-color: rgba(0, 195, 255, .5);
}

.test-opacity-percent {
	opacity: 42%;
}

.clamp-same-unit {
	width: clamp(10px, 64px, 80px);
}

.complex-clamp {
	width: clamp(calc(100% - 10px), min(10px, 100%), max(40px, 4em));
}

.clamp-different-units {
	width: clamp(10%, 2px, 4rem);
}
