:blank {
	order: 1;
}

.js-focus-visible .focus-visible {
	order: 2;
}

[focus-within] {
	order: 3;
}

[csstools-has-1m-2w-2p-37-14-1a-2p-15] {
	order: 4;
}

@media (prefers-color-scheme: light) {
	.b {
		order: 5;
	}
}
