.test-lab {
	background-color: rgba(255, 255, 255, 0);
	background-color: color(display-p3 1.00000 1.00000 1.00000 / 0%);
	color: rgba(0, 0, 0, 0);
	color: color(display-p3 0.00000 0.00000 0.00000 / 0%);
}
