<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='description' content=''>
    <meta name='author' content=''>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <block name='title'>
      <title>postcss-preset-env</title>
    </block>
    <link rel='stylesheet' href='css/index.css'>
  </head>
  <body>
    <main id='{{ pageId }}'>
      <block name='content'></block>
    </main>

    <block name='javascript'>
      <script src='js/main.js' defer></script>
    </block>
  </body>
</html>
