
@import url("http://localhost:8080/c.css");
/* a.css */
@layer a;
/* b.css */
@layer b;
@layer b{
/* green.css */
.box {
	background-color: green;
}
}
@layer a{
/* red.css */
.box {
	background-color: red;
}
}
