[\:has\(\:focus\)] {
	order: 1;
}

[a\:has\(\%3E\%20img\)]:not(does-not-exist):not(does-not-exist) {
	order: 2;
}

[h1\:has\(\%2B\%20p\)]:not(does-not-exist):not(does-not-exist) {
	order: 3;
}

[h1\:has\(\~\%20p\)]:not(does-not-exist):not(does-not-exist) {
	order: 4;
}

[section\:not\(\:has\(h1\,\%20h2\,\%20h3\,\%20h4\,\%20h5\,\%20h6\)\)]:not(does-not-exist):not(does-not-exist) {
	order: 5;
}

[body\:has\(\:focus\)]:not(does-not-exist) {
  order: 6;
}

[body\:not\(\:has\(\:focus\)\)]:not(does-not-exist) {
  order: 7;
}

:has-ignore(:focus),
:ignore-has(:focus) {
	order: 8;
}

[\:has\(\.esc\%5C\%5C\%5C\:aped\)] {
	order: 9;
}

[\.x\:has\(\%3E\%20\.a\:hover\)][\.x\:has\(\%3E\%20\.a\:hover\)][\.x\:has\(\%3E\%20\.a\:hover\)] {
	order: 10;
}

[\.x\:has\(\%3E\%20\%23a\:hover\)][\.x\:has\(\%3E\%20\%23a\:hover\)]:not(#does-not-exist) {
	order: 11;
}

[\.x\:has\(\%3E\%20\[a\]\:hover\)][\.x\:has\(\%3E\%20\[a\]\:hover\)][\.x\:has\(\%3E\%20\[a\]\:hover\)] {
	order: 12;
}

[\.x\:has\(\%3E\%20\[a\%3D\%22b\%22\]\:hover\)][\.x\:has\(\%3E\%20\[a\%3D\%22b\%22\]\:hover\)][\.x\:has\(\%3E\%20\[a\%3D\%22b\%22\]\:hover\)] {
	order: 13;
}

[\.x\:has\(\%3E\%20\[a\%3D\%22\:has\(\.x\)\%22\]\:hover\)][\.x\:has\(\%3E\%20\[a\%3D\%22\:has\(\.x\)\%22\]\:hover\)][\.x\:has\(\%3E\%20\[a\%3D\%22\:has\(\.x\)\%22\]\:hover\)] {
	order: 14;
}

[\.x\:has\(\%3E\%20\[\%5C\:has\%5C\(\%5C\%253E\%5C\%2520\%5C\.a\%5C\:hover\%5C\)\]\:hover\)][\.x\:has\(\%3E\%20\[\%5C\:has\%5C\(\%5C\%253E\%5C\%2520\%5C\.a\%5C\:hover\%5C\)\]\:hover\)][\.x\:has\(\%3E\%20\[\%5C\:has\%5C\(\%5C\%253E\%5C\%2520\%5C\.a\%5C\:hover\%5C\)\]\:hover\)] {
	order: 15;
}

[\.x\:has\(\%3E\%20\:\:before\:hover\)][\.x\:has\(\%3E\%20\:\:before\:hover\)]:not(does-not-exist) {
	order: 16; /* not allowed by spec but encoding should work */
}

[\.x\:has\(\%3E\%20\.a\:has\(\%20\%2B\%20\.b\)\)][\.x\:has\(\%3E\%20\.a\:has\(\%20\%2B\%20\.b\)\)][\.x\:has\(\%3E\%20\.a\:has\(\%20\%2B\%20\.b\)\)] {
	order: 17;
}

[\.x\:has\(\%3E\%20__foo\)]:not(does-not-exist) {
	order: 18;
}

[\.x\:has\(\%3E\%20\:--foo\)][\.x\:has\(\%3E\%20\:--foo\)] {
	order: 19;
}

[\.x\:has\(\%3E\%20\*\)] {
	order: 20;
}

[\.x\:has\(\%3E\%20\.y\%20\*\)][\.x\:has\(\%3E\%20\.y\%20\*\)] {
	order: 21;
}

[\.a\:not\(\:has\(\%3E\%20\.b\)\)][\.a\:not\(\:has\(\%3E\%20\.b\)\)] {
	order: 22;
}

[\.x\:has\(\~\%20\.y\:has\(\.g\%20\.h\)\%20\.i\)][\.x\:has\(\~\%20\.y\:has\(\.g\%20\.h\)\%20\.i\)][\.x\:has\(\~\%20\.y\:has\(\.g\%20\.h\)\%20\.i\)][\.x\:has\(\~\%20\.y\:has\(\.g\%20\.h\)\%20\.i\)][\.x\:has\(\~\%20\.y\:has\(\.g\%20\.h\)\%20\.i\)] {
	order: 23;
}

[\.x\:has\(\%3E\%20\.a\)\%20\~\%20\.x\:has\(\%3E\%20\.b\)][\.x\:has\(\%3E\%20\.a\)\%20\~\%20\.x\:has\(\%3E\%20\.b\)][\.x\:has\(\%3E\%20\.a\)\%20\~\%20\.x\:has\(\%3E\%20\.b\)][\.x\:has\(\%3E\%20\.a\)\%20\~\%20\.x\:has\(\%3E\%20\.b\)] {
	order: 24;
}

[\.x\:has\(\%3E\%20\.a\)\%20\.b][\.x\:has\(\%3E\%20\.a\)\%20\.b][\.x\:has\(\%3E\%20\.a\)\%20\.b] {
	order: 24;
}

[\.x\:has\(\%3E\%20\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4\)][\.x\:has\(\%3E\%20\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4\)] {
	order: 25;
}

[\.x\:has\(\%3E\%20\.a\)][\.x\:has\(\%3E\%20\.a\)], [\.x\:has\(\%3E\%20\.b\)][\.x\:has\(\%3E\%20\.b\)] {
	order: 26;
}

[\.x\:has\(\%3E\%20\.a\)\%20\~\%20\.x\:has\(\%3E\%20\.b\)][\.x\:has\(\%3E\%20\.a\)\%20\~\%20\.x\:has\(\%3E\%20\.b\)][\.x\:has\(\%3E\%20\.a\)\%20\~\%20\.x\:has\(\%3E\%20\.b\)][\.x\:has\(\%3E\%20\.a\)\%20\~\%20\.x\:has\(\%3E\%20\.b\)] {
	order: 27;
}

[\.x\:has\(\%3E\%20\.a\)][\.x\:has\(\%3E\%20\.a\)], .b {
	order: 28;
}

.a, [\.x\:has\(\%3E\%20\.b\)][\.x\:has\(\%3E\%20\.b\)] {
	order: 29;
}
