[\:has\(\.foo\)\:has\(\.foo\)][\:has\(\.foo\)\:has\(\.foo\)] {
	order: 0;
}

[\:has\(\.foo\)\:has\(\.foo\)][\:has\(\.foo\)\:has\(\.foo\)] {
	order: 1;
}

[\:has\(\.foo\)\%20\:has\(\.foo\)][\:has\(\.foo\)\%20\:has\(\.foo\)] {
	order: 2;
}

[\:has\(\.foo\)\%20\:has\(\.foo\)][\:has\(\.foo\)\%20\:has\(\.foo\)] {
	order: 3;
}

[\:has\(\.foo\)\%20\%20\:has\(\.foo\)][\:has\(\.foo\)\%20\%20\:has\(\.foo\)] {
	order: 4;
}

[\:has\(\.foo\)\%20\%20\:has\(\.foo\)][\:has\(\.foo\)\%20\%20\:has\(\.foo\)] {
	order: 5;
}

[\:has\(\.foo\)\%2B\:has\(\.foo\)][\:has\(\.foo\)\%2B\:has\(\.foo\)] {
	order: 6;
}

[\:has\(\.foo\)\%2B\:has\(\.foo\)][\:has\(\.foo\)\%2B\:has\(\.foo\)] {
	order: 7;
}

[\:has\(\.foo\)\%20\%2B\%20\:has\(\.foo\)][\:has\(\.foo\)\%20\%2B\%20\:has\(\.foo\)] {
	order: 8;
}

[\:has\(\.foo\)\%20\%2B\%20\:has\(\.foo\)][\:has\(\.foo\)\%20\%2B\%20\:has\(\.foo\)] {
	order: 9;
}

[\:has\(\.foo\)\~\:has\(\.foo\)][\:has\(\.foo\)\~\:has\(\.foo\)] {
	order: 10;
}

[\:has\(\.foo\)\~\:has\(\.foo\)][\:has\(\.foo\)\~\:has\(\.foo\)] {
	order: 11;
}

[\:has\(\.foo\)\%20\~\%20\:has\(\.foo\)][\:has\(\.foo\)\%20\~\%20\:has\(\.foo\)] {
	order: 12;
}

[\:has\(\.foo\)\%20\~\%20\:has\(\.foo\)][\:has\(\.foo\)\%20\~\%20\:has\(\.foo\)] {
	order: 13;
}

[\:has\(\.foo\)\%3E\:has\(\.foo\)][\:has\(\.foo\)\%3E\:has\(\.foo\)] {
	order: 14;
}

[\:has\(\.foo\)\%3E\:has\(\.foo\)][\:has\(\.foo\)\%3E\:has\(\.foo\)] {
	order: 15;
}

[\:has\(\.foo\)\%20\%3E\%20\:has\(\.foo\)][\:has\(\.foo\)\%20\%3E\%20\:has\(\.foo\)] {
	order: 16;
}

[\:has\(\.foo\)\%20\%3E\%20\:has\(\.foo\)][\:has\(\.foo\)\%20\%3E\%20\:has\(\.foo\)] {
	order: 17;
}

[\:has\(\.foo\)], [\:has\(\.foo\)] {
	order: 18;
}

[\:has\(\.foo\)], [\:has\(\.foo\)] {
	order: 19;
}

[button\:has\(\.foo\)]:not(does-not-exist) {
	order: 20;
}

[\:has\(\.foo\)button]:not(does-not-exist) {
	order: 21;
}

[button\%20\:has\(\.foo\)]:not(does-not-exist) {
	order: 22;
}

[\:has\(\.foo\)\%20button]:not(does-not-exist) {
	order: 23;
}

[button\%20\%20\:has\(\.foo\)]:not(does-not-exist) {
	order: 24;
}

[\:has\(\.foo\)\%20\%20button]:not(does-not-exist) {
	order: 25;
}

[button\%2B\:has\(\.foo\)]:not(does-not-exist) {
	order: 26;
}

[\:has\(\.foo\)\%2Bbutton]:not(does-not-exist) {
	order: 27;
}

[button\%20\%2B\%20\:has\(\.foo\)]:not(does-not-exist) {
	order: 28;
}

[\:has\(\.foo\)\%20\%2B\%20button]:not(does-not-exist) {
	order: 29;
}

[button\~\:has\(\.foo\)]:not(does-not-exist) {
	order: 30;
}

[\:has\(\.foo\)\~button]:not(does-not-exist) {
	order: 31;
}

[button\%20\~\%20\:has\(\.foo\)]:not(does-not-exist) {
	order: 32;
}

[\:has\(\.foo\)\%20\~\%20button]:not(does-not-exist) {
	order: 33;
}

[button\%3E\:has\(\.foo\)]:not(does-not-exist) {
	order: 34;
}

[\:has\(\.foo\)\%3Ebutton]:not(does-not-exist) {
	order: 35;
}

[button\%20\%3E\%20\:has\(\.foo\)]:not(does-not-exist) {
	order: 36;
}

[\:has\(\.foo\)\%20\%3E\%20button]:not(does-not-exist) {
	order: 37;
}

button, [\:has\(\.foo\)] {
	order: 38;
}

[\:has\(\.foo\)], button {
	order: 39;
}

[\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4\:has\(\.foo\)][\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4\:has\(\.foo\)] {
	order: 40;
}

[\:has\(\.foo\)\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4][\:has\(\.foo\)\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4] {
	order: 41;
}

[\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4\%20\:has\(\.foo\)][\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4\%20\:has\(\.foo\)] {
	order: 42;
}

[\:has\(\.foo\)\%20\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4][\:has\(\.foo\)\%20\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4] {
	order: 43;
}

[\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4\%20\%20\:has\(\.foo\)][\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4\%20\%20\:has\(\.foo\)] {
	order: 44;
}

[\:has\(\.foo\)\%20\%20\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4][\:has\(\.foo\)\%20\%20\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4] {
	order: 45;
}

[\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4\%2B\:has\(\.foo\)][\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4\%2B\:has\(\.foo\)] {
	order: 46;
}

[\:has\(\.foo\)\%2B\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4][\:has\(\.foo\)\%2B\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4] {
	order: 47;
}

[\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4\%20\%2B\%20\:has\(\.foo\)][\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4\%20\%2B\%20\:has\(\.foo\)] {
	order: 48;
}

[\:has\(\.foo\)\%20\%2B\%20\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4][\:has\(\.foo\)\%20\%2B\%20\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4] {
	order: 49;
}

[\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4\~\:has\(\.foo\)][\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4\~\:has\(\.foo\)] {
	order: 50;
}

[\:has\(\.foo\)\~\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4][\:has\(\.foo\)\~\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4] {
	order: 51;
}

[\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4\%20\~\%20\:has\(\.foo\)][\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4\%20\~\%20\:has\(\.foo\)] {
	order: 52;
}

[\:has\(\.foo\)\%20\~\%20\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4][\:has\(\.foo\)\%20\~\%20\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4] {
	order: 53;
}

[\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4\%3E\:has\(\.foo\)][\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4\%3E\:has\(\.foo\)] {
	order: 54;
}

[\:has\(\.foo\)\%3E\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4][\:has\(\.foo\)\%3E\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4] {
	order: 55;
}

[\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4\%20\%3E\%20\:has\(\.foo\)][\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4\%20\%3E\%20\:has\(\.foo\)] {
	order: 56;
}

[\:has\(\.foo\)\%20\%3E\%20\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4][\:has\(\.foo\)\%20\%3E\%20\.\%F0\%9F\%A7\%91\%F0\%9F\%8F\%BE\%E2\%80\%8D\%F0\%9F\%8E\%A4] {
	order: 57;
}

.🧑🏾‍🎤, [\:has\(\.foo\)] {
	order: 58;
}

[\:has\(\.foo\)], .🧑🏾‍🎤 {
	order: 59;
}

[\.foo\:has\(\.foo\)][\.foo\:has\(\.foo\)] {
	order: 60;
}

[\:has\(\.foo\)\.foo][\:has\(\.foo\)\.foo] {
	order: 61;
}

[\.foo\%20\:has\(\.foo\)][\.foo\%20\:has\(\.foo\)] {
	order: 62;
}

[\:has\(\.foo\)\%20\.foo][\:has\(\.foo\)\%20\.foo] {
	order: 63;
}

[\.foo\%20\%20\:has\(\.foo\)][\.foo\%20\%20\:has\(\.foo\)] {
	order: 64;
}

[\:has\(\.foo\)\%20\%20\.foo][\:has\(\.foo\)\%20\%20\.foo] {
	order: 65;
}

[\.foo\%2B\:has\(\.foo\)][\.foo\%2B\:has\(\.foo\)] {
	order: 66;
}

[\:has\(\.foo\)\%2B\.foo][\:has\(\.foo\)\%2B\.foo] {
	order: 67;
}

[\.foo\%20\%2B\%20\:has\(\.foo\)][\.foo\%20\%2B\%20\:has\(\.foo\)] {
	order: 68;
}

[\:has\(\.foo\)\%20\%2B\%20\.foo][\:has\(\.foo\)\%20\%2B\%20\.foo] {
	order: 69;
}

[\.foo\~\:has\(\.foo\)][\.foo\~\:has\(\.foo\)] {
	order: 70;
}

[\:has\(\.foo\)\~\.foo][\:has\(\.foo\)\~\.foo] {
	order: 71;
}

[\.foo\%20\~\%20\:has\(\.foo\)][\.foo\%20\~\%20\:has\(\.foo\)] {
	order: 72;
}

[\:has\(\.foo\)\%20\~\%20\.foo][\:has\(\.foo\)\%20\~\%20\.foo] {
	order: 73;
}

[\.foo\%3E\:has\(\.foo\)][\.foo\%3E\:has\(\.foo\)] {
	order: 74;
}

[\:has\(\.foo\)\%3E\.foo][\:has\(\.foo\)\%3E\.foo] {
	order: 75;
}

[\.foo\%20\%3E\%20\:has\(\.foo\)][\.foo\%20\%3E\%20\:has\(\.foo\)] {
	order: 76;
}

[\:has\(\.foo\)\%20\%3E\%20\.foo][\:has\(\.foo\)\%20\%3E\%20\.foo] {
	order: 77;
}

.foo, [\:has\(\.foo\)] {
	order: 78;
}

[\:has\(\.foo\)], .foo {
	order: 79;
}

[\%23foo\:has\(\.foo\)]:not(#does-not-exist) {
	order: 80;
}

[\:has\(\.foo\)\%23foo]:not(#does-not-exist) {
	order: 81;
}

[\%23foo\%20\:has\(\.foo\)]:not(#does-not-exist) {
	order: 82;
}

[\:has\(\.foo\)\%20\%23foo]:not(#does-not-exist) {
	order: 83;
}

[\%23foo\%20\%20\:has\(\.foo\)]:not(#does-not-exist) {
	order: 84;
}

[\:has\(\.foo\)\%20\%20\%23foo]:not(#does-not-exist) {
	order: 85;
}

[\%23foo\%2B\:has\(\.foo\)]:not(#does-not-exist) {
	order: 86;
}

[\:has\(\.foo\)\%2B\%23foo]:not(#does-not-exist) {
	order: 87;
}

[\%23foo\%20\%2B\%20\:has\(\.foo\)]:not(#does-not-exist) {
	order: 88;
}

[\:has\(\.foo\)\%20\%2B\%20\%23foo]:not(#does-not-exist) {
	order: 89;
}

[\%23foo\~\:has\(\.foo\)]:not(#does-not-exist) {
	order: 90;
}

[\:has\(\.foo\)\~\%23foo]:not(#does-not-exist) {
	order: 91;
}

[\%23foo\%20\~\%20\:has\(\.foo\)]:not(#does-not-exist) {
	order: 92;
}

[\:has\(\.foo\)\%20\~\%20\%23foo]:not(#does-not-exist) {
	order: 93;
}

[\%23foo\%3E\:has\(\.foo\)]:not(#does-not-exist) {
	order: 94;
}

[\:has\(\.foo\)\%3E\%23foo]:not(#does-not-exist) {
	order: 95;
}

[\%23foo\%20\%3E\%20\:has\(\.foo\)]:not(#does-not-exist) {
	order: 96;
}

[\:has\(\.foo\)\%20\%3E\%20\%23foo]:not(#does-not-exist) {
	order: 97;
}

#foo, [\:has\(\.foo\)] {
	order: 98;
}

[\:has\(\.foo\)], #foo {
	order: 99;
}

[__foo\:has\(\.foo\)]:not(does-not-exist) {
	order: 100;
}

[\:has\(\.foo\)__foo]:not(does-not-exist) {
	order: 101;
}

[__foo\%20\:has\(\.foo\)]:not(does-not-exist) {
	order: 102;
}

[\:has\(\.foo\)\%20__foo]:not(does-not-exist) {
	order: 103;
}

[__foo\%20\%20\:has\(\.foo\)]:not(does-not-exist) {
	order: 104;
}

[\:has\(\.foo\)\%20\%20__foo]:not(does-not-exist) {
	order: 105;
}

[__foo\%2B\:has\(\.foo\)]:not(does-not-exist) {
	order: 106;
}

[\:has\(\.foo\)\%2B__foo]:not(does-not-exist) {
	order: 107;
}

[__foo\%20\%2B\%20\:has\(\.foo\)]:not(does-not-exist) {
	order: 108;
}

[\:has\(\.foo\)\%20\%2B\%20__foo]:not(does-not-exist) {
	order: 109;
}

[__foo\~\:has\(\.foo\)]:not(does-not-exist) {
	order: 110;
}

[\:has\(\.foo\)\~__foo]:not(does-not-exist) {
	order: 111;
}

[__foo\%20\~\%20\:has\(\.foo\)]:not(does-not-exist) {
	order: 112;
}

[\:has\(\.foo\)\%20\~\%20__foo]:not(does-not-exist) {
	order: 113;
}

[__foo\%3E\:has\(\.foo\)]:not(does-not-exist) {
	order: 114;
}

[\:has\(\.foo\)\%3E__foo]:not(does-not-exist) {
	order: 115;
}

[__foo\%20\%3E\%20\:has\(\.foo\)]:not(does-not-exist) {
	order: 116;
}

[\:has\(\.foo\)\%20\%3E\%20__foo]:not(does-not-exist) {
	order: 117;
}

__foo, [\:has\(\.foo\)] {
	order: 118;
}

[\:has\(\.foo\)], __foo {
	order: 119;
}

[\:--foo\:has\(\.foo\)][\:--foo\:has\(\.foo\)] {
	order: 120;
}

[\:has\(\.foo\)\:--foo][\:has\(\.foo\)\:--foo] {
	order: 121;
}

[\:--foo\%20\:has\(\.foo\)][\:--foo\%20\:has\(\.foo\)] {
	order: 122;
}

[\:has\(\.foo\)\%20\:--foo][\:has\(\.foo\)\%20\:--foo] {
	order: 123;
}

[\:--foo\%20\%20\:has\(\.foo\)][\:--foo\%20\%20\:has\(\.foo\)] {
	order: 124;
}

[\:has\(\.foo\)\%20\%20\:--foo][\:has\(\.foo\)\%20\%20\:--foo] {
	order: 125;
}

[\:--foo\%2B\:has\(\.foo\)][\:--foo\%2B\:has\(\.foo\)] {
	order: 126;
}

[\:has\(\.foo\)\%2B\:--foo][\:has\(\.foo\)\%2B\:--foo] {
	order: 127;
}

[\:--foo\%20\%2B\%20\:has\(\.foo\)][\:--foo\%20\%2B\%20\:has\(\.foo\)] {
	order: 128;
}

[\:has\(\.foo\)\%20\%2B\%20\:--foo][\:has\(\.foo\)\%20\%2B\%20\:--foo] {
	order: 129;
}

[\:--foo\~\:has\(\.foo\)][\:--foo\~\:has\(\.foo\)] {
	order: 130;
}

[\:has\(\.foo\)\~\:--foo][\:has\(\.foo\)\~\:--foo] {
	order: 131;
}

[\:--foo\%20\~\%20\:has\(\.foo\)][\:--foo\%20\~\%20\:has\(\.foo\)] {
	order: 132;
}

[\:has\(\.foo\)\%20\~\%20\:--foo][\:has\(\.foo\)\%20\~\%20\:--foo] {
	order: 133;
}

[\:--foo\%3E\:has\(\.foo\)][\:--foo\%3E\:has\(\.foo\)] {
	order: 134;
}

[\:has\(\.foo\)\%3E\:--foo][\:has\(\.foo\)\%3E\:--foo] {
	order: 135;
}

[\:--foo\%20\%3E\%20\:has\(\.foo\)][\:--foo\%20\%3E\%20\:has\(\.foo\)] {
	order: 136;
}

[\:has\(\.foo\)\%20\%3E\%20\:--foo][\:has\(\.foo\)\%20\%3E\%20\:--foo] {
	order: 137;
}

:--foo, [\:has\(\.foo\)] {
	order: 138;
}

[\:has\(\.foo\)], :--foo {
	order: 139;
}

[\[foo\%3D\%22baz\%22\]\:has\(\.foo\)][\[foo\%3D\%22baz\%22\]\:has\(\.foo\)] {
	order: 140;
}

[\:has\(\.foo\)\[foo\%3D\%22baz\%22\]][\:has\(\.foo\)\[foo\%3D\%22baz\%22\]] {
	order: 141;
}

[\[foo\%3D\%22baz\%22\]\%20\:has\(\.foo\)][\[foo\%3D\%22baz\%22\]\%20\:has\(\.foo\)] {
	order: 142;
}

[\:has\(\.foo\)\%20\[foo\%3D\%22baz\%22\]][\:has\(\.foo\)\%20\[foo\%3D\%22baz\%22\]] {
	order: 143;
}

[\[foo\%3D\%22baz\%22\]\%20\%20\:has\(\.foo\)][\[foo\%3D\%22baz\%22\]\%20\%20\:has\(\.foo\)] {
	order: 144;
}

[\:has\(\.foo\)\%20\%20\[foo\%3D\%22baz\%22\]][\:has\(\.foo\)\%20\%20\[foo\%3D\%22baz\%22\]] {
	order: 145;
}

[\[foo\%3D\%22baz\%22\]\%2B\:has\(\.foo\)][\[foo\%3D\%22baz\%22\]\%2B\:has\(\.foo\)] {
	order: 146;
}

[\:has\(\.foo\)\%2B\[foo\%3D\%22baz\%22\]][\:has\(\.foo\)\%2B\[foo\%3D\%22baz\%22\]] {
	order: 147;
}

[\[foo\%3D\%22baz\%22\]\%20\%2B\%20\:has\(\.foo\)][\[foo\%3D\%22baz\%22\]\%20\%2B\%20\:has\(\.foo\)] {
	order: 148;
}

[\:has\(\.foo\)\%20\%2B\%20\[foo\%3D\%22baz\%22\]][\:has\(\.foo\)\%20\%2B\%20\[foo\%3D\%22baz\%22\]] {
	order: 149;
}

[\[foo\%3D\%22baz\%22\]\~\:has\(\.foo\)][\[foo\%3D\%22baz\%22\]\~\:has\(\.foo\)] {
	order: 150;
}

[\:has\(\.foo\)\~\[foo\%3D\%22baz\%22\]][\:has\(\.foo\)\~\[foo\%3D\%22baz\%22\]] {
	order: 151;
}

[\[foo\%3D\%22baz\%22\]\%20\~\%20\:has\(\.foo\)][\[foo\%3D\%22baz\%22\]\%20\~\%20\:has\(\.foo\)] {
	order: 152;
}

[\:has\(\.foo\)\%20\~\%20\[foo\%3D\%22baz\%22\]][\:has\(\.foo\)\%20\~\%20\[foo\%3D\%22baz\%22\]] {
	order: 153;
}

[\[foo\%3D\%22baz\%22\]\%3E\:has\(\.foo\)][\[foo\%3D\%22baz\%22\]\%3E\:has\(\.foo\)] {
	order: 154;
}

[\:has\(\.foo\)\%3E\[foo\%3D\%22baz\%22\]][\:has\(\.foo\)\%3E\[foo\%3D\%22baz\%22\]] {
	order: 155;
}

[\[foo\%3D\%22baz\%22\]\%20\%3E\%20\:has\(\.foo\)][\[foo\%3D\%22baz\%22\]\%20\%3E\%20\:has\(\.foo\)] {
	order: 156;
}

[\:has\(\.foo\)\%20\%3E\%20\[foo\%3D\%22baz\%22\]][\:has\(\.foo\)\%20\%3E\%20\[foo\%3D\%22baz\%22\]] {
	order: 157;
}

[foo="baz"], [\:has\(\.foo\)] {
	order: 158;
}

[\:has\(\.foo\)], [foo="baz"] {
	order: 159;
}

[\*\:has\(\.foo\)] {
	order: 160;
}

[\:has\(\.foo\)\*] {
	order: 161;
}

[\*\%20\:has\(\.foo\)] {
	order: 162;
}

[\:has\(\.foo\)\%20\*] {
	order: 163;
}

[\*\%20\%20\:has\(\.foo\)] {
	order: 164;
}

[\:has\(\.foo\)\%20\%20\*] {
	order: 165;
}

[\*\%2B\:has\(\.foo\)] {
	order: 166;
}

[\:has\(\.foo\)\%2B\*] {
	order: 167;
}

[\*\%20\%2B\%20\:has\(\.foo\)] {
	order: 168;
}

[\:has\(\.foo\)\%20\%2B\%20\*] {
	order: 169;
}

[\*\~\:has\(\.foo\)] {
	order: 170;
}

[\:has\(\.foo\)\~\*] {
	order: 171;
}

[\*\%20\~\%20\:has\(\.foo\)] {
	order: 172;
}

[\:has\(\.foo\)\%20\~\%20\*] {
	order: 173;
}

[\*\%3E\:has\(\.foo\)] {
	order: 174;
}

[\:has\(\.foo\)\%3E\*] {
	order: 175;
}

[\*\%20\%3E\%20\:has\(\.foo\)] {
	order: 176;
}

[\:has\(\.foo\)\%20\%3E\%20\*] {
	order: 177;
}

*, [\:has\(\.foo\)] {
	order: 178;
}

[\:has\(\.foo\)], * {
	order: 179;
}

[\:hover\:has\(\.foo\)][\:hover\:has\(\.foo\)] {
	order: 180;
}

[\:has\(\.foo\)\:hover][\:has\(\.foo\)\:hover] {
	order: 181;
}

[\:hover\%20\:has\(\.foo\)][\:hover\%20\:has\(\.foo\)] {
	order: 182;
}

[\:has\(\.foo\)\%20\:hover][\:has\(\.foo\)\%20\:hover] {
	order: 183;
}

[\:hover\%20\%20\:has\(\.foo\)][\:hover\%20\%20\:has\(\.foo\)] {
	order: 184;
}

[\:has\(\.foo\)\%20\%20\:hover][\:has\(\.foo\)\%20\%20\:hover] {
	order: 185;
}

[\:hover\%2B\:has\(\.foo\)][\:hover\%2B\:has\(\.foo\)] {
	order: 186;
}

[\:has\(\.foo\)\%2B\:hover][\:has\(\.foo\)\%2B\:hover] {
	order: 187;
}

[\:hover\%20\%2B\%20\:has\(\.foo\)][\:hover\%20\%2B\%20\:has\(\.foo\)] {
	order: 188;
}

[\:has\(\.foo\)\%20\%2B\%20\:hover][\:has\(\.foo\)\%20\%2B\%20\:hover] {
	order: 189;
}

[\:hover\~\:has\(\.foo\)][\:hover\~\:has\(\.foo\)] {
	order: 190;
}

[\:has\(\.foo\)\~\:hover][\:has\(\.foo\)\~\:hover] {
	order: 191;
}

[\:hover\%20\~\%20\:has\(\.foo\)][\:hover\%20\~\%20\:has\(\.foo\)] {
	order: 192;
}

[\:has\(\.foo\)\%20\~\%20\:hover][\:has\(\.foo\)\%20\~\%20\:hover] {
	order: 193;
}

[\:hover\%3E\:has\(\.foo\)][\:hover\%3E\:has\(\.foo\)] {
	order: 194;
}

[\:has\(\.foo\)\%3E\:hover][\:has\(\.foo\)\%3E\:hover] {
	order: 195;
}

[\:hover\%20\%3E\%20\:has\(\.foo\)][\:hover\%20\%3E\%20\:has\(\.foo\)] {
	order: 196;
}

[\:has\(\.foo\)\%20\%3E\%20\:hover][\:has\(\.foo\)\%20\%3E\%20\:hover] {
	order: 197;
}

:hover, [\:has\(\.foo\)] {
	order: 198;
}

[\:has\(\.foo\)], :hover {
	order: 199;
}

[\:\:before\:has\(\.foo\)]:not(does-not-exist) {
	order: 200;
}

[\:has\(\.foo\)\:\:before]:not(does-not-exist) {
	order: 201;
}

[\:\:before\%20\:has\(\.foo\)]:not(does-not-exist) {
	order: 202;
}

[\:has\(\.foo\)\%20\:\:before]:not(does-not-exist) {
	order: 203;
}

[\:\:before\%20\%20\:has\(\.foo\)]:not(does-not-exist) {
	order: 204;
}

[\:has\(\.foo\)\%20\%20\:\:before]:not(does-not-exist) {
	order: 205;
}

[\:\:before\%2B\:has\(\.foo\)]:not(does-not-exist) {
	order: 206;
}

[\:has\(\.foo\)\%2B\:\:before]:not(does-not-exist) {
	order: 207;
}

[\:\:before\%20\%2B\%20\:has\(\.foo\)]:not(does-not-exist) {
	order: 208;
}

[\:has\(\.foo\)\%20\%2B\%20\:\:before]:not(does-not-exist) {
	order: 209;
}

[\:\:before\~\:has\(\.foo\)]:not(does-not-exist) {
	order: 210;
}

[\:has\(\.foo\)\~\:\:before]:not(does-not-exist) {
	order: 211;
}

[\:\:before\%20\~\%20\:has\(\.foo\)]:not(does-not-exist) {
	order: 212;
}

[\:has\(\.foo\)\%20\~\%20\:\:before]:not(does-not-exist) {
	order: 213;
}

[\:\:before\%3E\:has\(\.foo\)]:not(does-not-exist) {
	order: 214;
}

[\:has\(\.foo\)\%3E\:\:before]:not(does-not-exist) {
	order: 215;
}

[\:\:before\%20\%3E\%20\:has\(\.foo\)]:not(does-not-exist) {
	order: 216;
}

[\:has\(\.foo\)\%20\%3E\%20\:\:before]:not(does-not-exist) {
	order: 217;
}

::before, [\:has\(\.foo\)] {
	order: 218;
}

[\:has\(\.foo\)], ::before {
	order: 219;
}

foo[:has(.foo)] {
	order: 220;
}

foo[baz=":has(.foo)"] {
	order: 221;
}

[\:not\(\:has\(\.foo\)\)] {
	order: 222;
}

::has(.foo) {
	order: 223;
}

[\:--\:has\(\.foo\)][\:--\:has\(\.foo\)] {
	order: 224;
}

[__\:has\(\.foo\)]:not(does-not-exist) {
	order: 225;
}

/* :has(.foo) */
