a {
	order: 1;
}
@media (min-width: 100px) {
a {
		order: 2;
}
	}
@media (min-width: 100px) and (max-width: 200px) {
a {
			order: 3;
}
		}
@media (min-width: 100px) and (max-width: 200px) {
		:is(a) b {
				order: 4;
		}
			}
@media screen and (max-width: 300px), screen and (min-aspect-ratio: 16/9), print and speech and (max-width: 300px), print and speech and (min-aspect-ratio: 16/9) {
a {
			order: 5;
}
			:is(a) c {
				order: 6;
			}
		}
a {
	order: 1;
}
@media (min-width: 100px) {
a {
		order: 2;
}
	}
@media (min-width: 100px) and (max-width: 200px) {
a {
			order: 3;
}
		}
@media (min-width: 100px) and (max-width: 200px) {
		:is(a) b {
				order: 4;
		}
			}
@media screen and (max-width: 300px), screen and (min-aspect-ratio: 16/9), print and speech and (max-width: 300px), print and speech and (min-aspect-ratio: 16/9) {
a {
			order: 5;
}
			:is(a) c {
				order: 6;
			}
		}
