.foo {
	background: url("images/green.png");
}

.bar {
	background: url(imports/green.png);
}

.url-modifier {
	background: url("images/green.png" something);
}

.fragment {
	background: url("images/green.png#foo");
}

.search {
	background: url("images/green.png?foo=bar");
}

.foo { --var: /* a comment */; bar: red }

.foo { color: red }

.foo { color: red }

.foo { color: rgb(0 0 0) }

.foo { color: rgb(0 0 0) }

.foo { color: rgb(0 0 0) }

.box {
	background-color: green;
}

.box {
	background-color: green;
}
