@supports selector(:has(foo)) {
	.foo:has(> bar) {
		color: red;
	}
}

@supports selector(:has(:focus), :has(:hover)) {
	:has(:focus) {
		order: 32;
	}
}

@supports (display: grid) {
	:has(:focus) {
		order: 33;
	}
}
