@supports selector(:has(foo)) {
	.a:has(> bar) {
		color: red;
	}
}

@supports selector(:has(:focus), :has(:hover)) {
	:has(:focus) {
		order: 32;
	}
}

@supports (display: grid) {
	:has(:focus) {
		order: 33;
	}
}

.aaa {
	color: rgb(0, 0, 100%);
}

.aab {
	color: rgb(0, 0, 100%, 0);
}

@supports (color: rgb(0, 0, 0, 0)) {
	.aab {
		color: rgb(0, 0, 100%, 0);
	}
}

@supports (color: rgb(0%, 0%, 0%, 0%)) {
	.aab {
		color: rgb(0, 0, 100%, 0);
	}
}

@supports (color: rgb(0, 0, 0, 0)) and (color: rgb(0%, 0%, 0%, 0%)) {
	.aab {
		color: rgb(0, 0, 100%, 0);
	}
}

.aac {
	color: hsla(0, 0%, 100%, 0);
}

.aad {
	color: hsl(0, 0%, 100%, 0);
}

.aae {
	color: hsl(0 0% 100% / 0);
}
