/* green.css */
.box {
	background-color: green;
}
/* red.css */
@media (min-width: 1px) supports(display: block) {
	.box {
	background-color: red;
}
}
/* red.css */
@media screen supports(display: block) {
	.box {
	background-color: red;
}
}
