
@import url("http://localhost:8080/green.css") not print and (min-width: 1px);
@import 'data:text/css;base64,QGltcG9ydCB1cmwoImh0dHA6Ly9sb2NhbGhvc3Q6ODA4MC9yZWQuY3NzIikgbm90IHByaW50IGFuZCAobWluLXdpZHRoOiAxcHgp' not screen and (min-height: 1px);
@media not print and (min-width: 1px){
/* ./a.css */
}
