.example-1 {
	background: linear-gradient(red 50%, blue calc(50% + +1px));
}

.example-2 {
	background: conic-gradient(red +60deg, blue 70deg 120deg, green 180deg, yellow 240deg);
}

.example-3 {
	background: conic-gradient(pink +60deg, cyan 0 80deg, gold 0 90deg);
}

.example-4 {
	background: linear-gradient(orange 20px, magenta 2vi, aqua calc(max(20px, 2vi) + +2vw));
}
