name: Deploy PostCSS Preset Env
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      -  'sites/package-lock.json'
      -  'sites/postcss-preset-env/**'

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Request Netlify Webhook
    runs-on: ubuntu-latest
    steps:
      - name: Curl request
        env:
          DEPLOY_HOOK: ${{ secrets.PRESET_ENV_DEPLOY_HOOK }}
        run: curl -X POST -d {} $DEPLOY_HOOK
