name: Deploy PostCSS Preset Env
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      -  'sites/package-lock.json'
      -  'sites/postcss-preset-env/**'

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  build:
    name: Request Netlify Webhook
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          fetch-depth: 1
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: 24

      - name: npm ci
        run: |
          cd sites/postcss-preset-env
          npm ci --ignore-scripts

      - name: build
        run: |
          cd sites/postcss-preset-env
          npm run build

      - name: trigger deploy
        env:
          DEPLOY_HOOK: ${{ secrets.PRESET_ENV_DEPLOY_HOOK }}
        run: curl -X POST -d {} $DEPLOY_HOOK
