name: Deploy PostCSS Preset Env
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      -  'sites/package-lock.json'
      -  'sites/postcss-preset-env/**'

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  build:
    name: Request Netlify Webhook
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 24

      - name: npm ci
        run: |
          cd sites/postcss-preset-env
          npm ci --ignore-scripts

      - name: build
        run: |
          cd sites/postcss-preset-env
          npm run build

      - name: trigger deploy
        env:
          DEPLOY_HOOK: ${{ secrets.PRESET_ENV_DEPLOY_HOOK }}
        run: curl -X POST -d {} $DEPLOY_HOOK
