name: test in browser
on:
  push:

concurrency:
  group: branch-node-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test_in_browser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16

      - run: npm ci --ignore-scripts
      - run: npm run build --workspaces --if-present
      - run: npm run test:browser --workspaces --if-present

