name: test
on:
  push:

jobs:
  test_with_workspaces_support:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [16, 17]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - run: npm ci --ignore-scripts
      - run: npm run build --workspaces --if-present
      - run: npm run lint --workspaces --if-present
      - run: npm run test --workspaces --if-present

  test_without_workspaces_support:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [12, 14]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16

      - run: npm ci --ignore-scripts
      - run: npm run build --workspaces --if-present

      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}

      - run: bash ./.github/bin/install-and-test-all-packages.sh

  # Run cross platform test of the basic CLI.
  test_cli:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16

      - run: npm ci --ignore-scripts
      - run: npm run build --workspaces --if-present

      - run: |
          npm run build --workspace="@csstools/base-cli" --workspace="@csstools/postcss-base-plugin"
          npm run test --workspace="@csstools/base-cli" --workspace="@csstools/postcss-base-plugin"
