name: test node without workspaces
on:
  push:

concurrency:
  group: branch-no-workspaces-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test_without_workspaces_support:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [12, 14]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: false
      - run: npm ci --ignore-scripts
      - run: npm run build --workspaces --if-present

      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: false
      - run: bash ./.github/bin/install-and-test-all-packages.sh
