name: test
on:
  push:

concurrency:
  group: branch-node-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      # Test node 16/17 on ubuntu
      # Test node 16 on macos/windows
      # Enable annotations only for node 16 + ubuntu
      matrix:
        os: [ubuntu-latest]
        node: [16, 17]
        include:
        - os: macos-latest
          node: 16
        - os: windows-latest
          node: 16
        - node: 16
          enable_annotations_for_node: true
        - os: ubuntu-latest
          enable_annotations_for_os: true
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.5.1
        with:
          node-version: ${{ matrix.node }}

      - run: npm ci --ignore-scripts
      - run: npm run build --workspaces --if-present
      - run: npm run lint --workspaces --if-present
      - run: npm run test --workspaces --if-present
        env:
          ENABLE_ANNOTATIONS_FOR_NODE: ${{ matrix.enable_annotations_for_node }}
          ENABLE_ANNOTATIONS_FOR_OS: ${{ matrix.enable_annotations_for_os }}

      # running "npm install" places the cli in node_modules/bin
      - run: npm install --ignore-scripts
      - run: npm run test:cli --workspace="@csstools/postcss-base-plugin"

  # Run Deno tests one by one
  test_deno:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.5.1
        with:
          node-version: 16

      - run: npm ci --ignore-scripts
      - run: npm run build --workspaces --if-present

      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x.x

      # Per plugin from here
      - run: |
            cd plugins/postcss-nesting
            npm run test:deno
